<template>
  <div>
    <div class="login-box">
      <!-- /.login-logo -->
      <div class="login-box-soffware">

        <div class="login-logo">
          <h3 class="title">Đăng nhập vào hệ thống</h3>
        </div>
        <div class="form-group has-feedback">
          <input type="text" class="form-control" v-model="username" placeholder="Username" v-on:keyup.enter="Login()">
          
        </div>
        <div class="form-group has-feedback">
          <input type="password" class="form-control" v-model="password" placeholder="Password" v-on:keyup.enter="Login()">
          
        </div>
        <div class="row">

          <div class="col-xs-6">
            <button id="login" class="btn btn-primary btn-block btn-login" @click="Login()">
              Đăng nhập
            </button>
          </div>
          <div class="col-xs-6">
            <button type="button" class="btn btn-primary btn-block btn-login" @click="ScanQrCode()">
              <i class="fa fa-qrcode"></i>
              Quét QR Code
            </button>
          </div>
          <!-- /.col -->
        </div>

      </div>
    </div>
    <!-- /.login-box-body -->
    <div class="modal modal-info fade" id="modal-login">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
            <h4 class="modal-title">Đăng nhập bằng cách quét mã QR</h4>
          </div>
          <div class="modal-body text-center" id="QR-Code">
            <div class="well" style="position: relative;display: inline-block;">
              <canvas width="530" height="400" id="webcodecam-canvas"></canvas>
              <div class="scanner-laser laser-rightBottom" style="opacity: 0.5;"></div>
              <div class="scanner-laser laser-rightTop" style="opacity: 0.5;"></div>
              <div class="scanner-laser laser-leftBottom" style="opacity: 0.5;"></div>
              <div class="scanner-laser laser-leftTop" style="opacity: 0.5;"></div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline" data-dismiss="modal">Đóng</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>

</template>
<script>
  import axios from "axios";
  export default {
    data() {
      return {
        username: "",
        password: ""
      }
    },
    methods: {
      ScanQrCode: function () {
        $("#modal-login").modal("show");
        var args = {
          autoBrightnessValue: 100,
          resultFunction: function (res) {

            //Nếu scan có data
            if (res.code) {
              $("#main-loading").show();
              axios.post("/Login/LoginByQrCode", { hass: res.code }).then(resData => {
                $("#main-loading").hide();
                console.log(resData.data);
                if (resData.data.isLogin.Result == -1) {
                  AlertBasic("fa fa-warning", "Error", "Tài khoản không tồn tại! Vui lòng kiểm tra lại", "red");
                }
                else if (resData.data.isLogin.Result == 0) {
                  AlertBasic("fa fa-warning", "Warning", "Tài khoản đang tạm khóa! Vui lòng liên hệ admin để kích hoạt lại", "orange");
                }
                else {
                  window.location.href = resData.data.url;
                }
              });
            }
          }
        };
        var decoder = new WebCodeCamJS("#webcodecam-canvas").init(args);
        if (!decoder.isInitialized()) {
        } else {
          decoder.play();
        }
        //Nếu tắt modal thì đồng thời tắt camera
        $("#modal-login").on('hide.bs.modal', function () {
          decoder.stop();
        });

      },
      Login: function () {
        if (this.username == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập Username", "orange");
          return;
        }
        if (this.password == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập Password", "orange");
          return;
        }
        $("#main-loading").show();
        axios.post("/Login/Login", { username: this.username, password: this.password }).then(res => {
          $("#main-loading").hide();
          if (res.data.isLogin == -1) {
            AlertBasic("fa fa-frown-o", "Error", "Tài khoản không tồn tại! Vui lòng kiểm tra lại", "red");

          }
          else if (res.data.isLogin == 0) {
            AlertBasic("fa fa-warning", "Warning", "Tài khoản đang tạm khóa! Vui lòng liên hệ admin để kích hoạt lại", "orange");
          }
          else if (res.data.isLogin == 1) {
            AlertBasic("fa fa-frown-o", "Error", "Sai mật khẩu! Vui lòng thử lại", "red");

          }
          else {

            window.location.href = res.data.url;
          }
        });
      },
      CheckSesion: function () {
        axios.get("/Login/GetAccountLogin").then(res => {
          if (res.data.isSessionLogin == true) {
            window.location.href = "/";
          }
        });
      },
    },
    created() {
      this.CheckSesion();
    }

  }
</script>
