<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Danh sách danh mục bàn
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li>Quản lý bàn ăn</li>
        <li class="active">   Danh sách danh mục bàn</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
            <div role="form">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-3">
                    <div class="box box-info">
                      <div class="box-header with-border">
                        <h3 class="box-title">Thêm bàn ăn mới</h3>
                      </div>
                      <div class="box-body" style="">
                        <div class="row">

                          <div class="form-group form-md-line-input">
                            <label class="col-md-12 control-label bold text-capitalize">Tên bàn ăn:</label>
                            <div class="col-md-12">
                              <input type="text" class="form-control" v-model="tableFoodName" placeholder="Nhập tên bàn ăn">
                            </div>
                          </div>
                          <div class="form-group form-md-line-input">
                            <label class="col-md-12 control-label bold text-capitalize">Vị trí:</label>
                            <div class="col-md-12">
                              <input type="text" class="form-control" v-model="position" placeholder="Nhập vị trí">
                            </div>
                          </div>
                          <div class="form-group form-md-line-input">
                            <div class="col-md-12">
                              <button class="btn btn-success form-control text-bold form-group" @click="AddTableFood()">
                                <i class="fa fa-plus"></i> &nbsp;
                                Thêm bàn ăn mới
                              </button>
                            </div>

                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="col-md-9">
                    <list-table-manager-component></list-table-manager-component>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">
              </div>
            </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import axios from "axios";
  import ListTableManagerComponent from './ListTableManagerComponent'
  import EventBus from "../EventBus";
  export default {
    components: {
      ListTableManagerComponent
    },
    data() {
      return {
        tableFoodName: "",
        position: "",
      }
    },
    methods: {
      AddTableFood: function () {
        if (this.tableFoodName == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập tên bàn ăn", "orange");
          return;
        }
        if (!this.IsInt(this.position)) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập vị trí là số và >= 0", "orange");
          return;
        }

        axios.post("/insert-table", { tableName: this.tableFoodName, position: this.position }).then(res => {
          if (res.data != null) {
            AlertBasic("fa fa-check", "Success", "Bàn ăn đã thêm thành công", "green");

            this.tableFoodName = "";
            this.position = "";
            EventBus.$emit("isSearchTable", res.data.TableName);
            return;
          }
          else {
            AlertBasic("fa fa-frown-o", "Error", "Lỗi hệ thống! Vui lòng thử lại", "red");
            return;
          }
        });
      },
      IsInt: function (num) {
        if (parseInt(num) == num) {
          return true;
        }
        return false;
      }
    }
  }
</script>
