<template>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Danh sách bàn</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group none-border-bottom">

            <select class="form-control" v-model="valueSelectTable" @change="FilterTable()">
              <option value="all-table">Tất cả các bàn</option>
              <option value="table-empty">Bàn trống </option>
              <option value="table-not-empty">Đang có khách</option>
            </select>
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group input-group">
            <input type="text" class="form-control" v-model="keyword" placeholder="Tìm kiếm theo tên bàn">
            <span class="input-group-btn">
              <button type="button" class="btn btn-info btn-flat" @click="SearchTable(idFoodType,keyword)">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-info btn-flat pull-right" @click="ClearSearch()">
            <i class="fa fa-close"></i>
            Hủy bộ lọc
          </button>
        </div>
      </div>
      <table id="list-product-category" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên bàn</th>
            <th>Vị trí</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
            <th>Thanh toán</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in listTable">
            <td>{{index+1+skip}}</td>
            <td>
              {{item.TableName}}
            </td>
            <td>
              {{item.Position}}
            </td>
            <td>
              <span class="badge" v-bind:class="{bggreen:item.Status, bgred:!item.Status}"> {{item.Status ==true?"Đang sử dụng":"Bàn trống"}}</span>
            </td>
            <td>
              {{ConverPrice(item.Total," ₫")}}
            </td>
            <td>
              <span class="badge" v-bind:class="{bggreen:item.Total>0?false:true,bgred:item.Total<=0?false:true}">{{item.Total>0?"Chưa thanh toán":"Đã thanh toán"}}</span>
            </td>

            <td class="text-right">
              <button class="btn btn-info" @click="openModalAdd(item)">
                <i class="fa fa-pencil-square-o"></i>
              </button>
              <button class="btn btn-danger" @click="RemoveTableFood(item)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>
          </tr>
        </tbody>
        <tfoot>
          <tr>
            <th>STT</th>
            <th>Tên bàn</th>
            <th>Vị trí</th>
            <th>Trạng thái</th>
            <th>Tổng tiền</th>
            <th>Thanh toán</th>
            <th class="text-right">Action</th>
          </tr>
        </tfoot>
      </table>
      <div class="text-right">
        <Paginate v-model="page"
                  :page-count="totalPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :page-range="3"
                  :margin-pages="2"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :prev-class="'page-item'"
                  :next-class="'page-item'"
                  :page-link-class="'page-link'"
                  :prev-link-class="'page-link'"
                  :next-link-class="'page-link'"
                  :click-handler="changePage">
        </Paginate>
      </div>
    </div>
    <!-- /.box-body -->
    <!-- Modal sản phẩm con -->
    <div class="modal fade" id="modal-edit" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Cập nhật bàn</h4>
          </div>
          <div class="modal-body">
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group none-border-bottom">
                    <label>Tên Bàn: </label>
                    <input class="form-control" type="text" autocomplete="off" v-model="tableFoodName">
                  </div>
                  <div class="form-group none-border-bottom">
                    <label>Vị trí: </label>
                    <input class="form-control" type="text" autocomplete="off" v-model="position">
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning" @click="UpdateTable()">Cập nhật</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
  import Select2 from "v-select2-component";
  import Paginate from 'vuejs-paginate'
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    components: { Select2, Paginate },
    data() {
      return {
        valueSelectTable: "all-table",
        keyword: "",
        totalPage: 0,
        page: 1,
        skip: 0,
        listTable: [],
        tableFoodName: "",
        position: "",
        idTableEdit: 0,
      }
    },
    methods: {
      //SearchTable: function (statusTable, keyword, page = 1) {
      //  let seft = this;
      //  axios.post("/TableFood/SearchTable", { statusTable: statusTable, keyword: keyword, page: page }).then(res => {
      //    seft.skip = res.data.skip;
      //    seft.totalPage = res.data.totalPage;
      //    seft.listTable = res.data.result;

      //    HideLoadingBar();
      //  })
      //},
      changePage(pageNum) {
        this.SearchTable(this.valueSelectTable, this.keyword, pageNum);
      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      FilterTable: function () {
        this.SearchTable(this.valueSelectTable, this.keyword, 1);
      },
      ClearSearch: function () {
        this.valueSelectTable = "all-table";
        this.keyword = "";
        this.page = 1;
        this.SearchTable("all-table", "", 1);
      },
      openModalAdd: function (item) {
        this.idTableEdit = item.TableID;
        this.tableFoodName = item.TableName;
        this.position = item.Position;
        $("#modal-edit").modal("show");
      },
      UpdateTable: function () {
        if (this.idTableEdit != 0) {
          let seft = this;
          axios.post("/update-table", { idTable: this.idTableEdit, nameTable: this.tableFoodName, position: this.position }).then(res => {
            if (res.data.status == 1) {
              $("#modal-edit").modal("hide");
              AlertBasic("fa fa-check", "Success", res.data.message, "green");
              seft.SearchTable("all-table", seft.tableFoodName, 1);
              return;
            }
            else {
              AlertBasic("fa fa-frown-o", "Error", res.data.message, "red");
              return;
            }
          });
        }
      },
      RemoveTableFood: function (item) {

        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa bàn",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có chắc chắn muốn xóa bàn này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios.post("/remove-table", { idTable: item.TableID }).then(res => {
                  if (res.data.status == 1) {
                    AlertBasic("fa fa-check", "Chúc mừng", res.data.message, "green");

                    seft.valueSelectTable = "all-table";
                    seft.keyword = "";
                    seft.page = 1;
                    seft.SearchTable("all-table", "", 1);
                  }
                  else {
                    AlertBasic("fa fa-frown-o", "Xin lỗi", res.data.message, "red");
                  }
                });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });

      },
    },
    created() {
      //ShowLoadingBar();
      //this.SearchTable("all-table", "", 1);

      //EventBus.$on("isSearchTable", tableName => {
      //  this.SearchTable("all-table", tableName, 1);
      //});
    },
    watch: {
      //keyword: function (newOld, oldVal) {
      //  this.SearchTable(this.valueSelectTable, newOld, 1);
      //}
    }
  }
</script>
