<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">

<meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
<!-- Bootstrap 3.3.7 -->
<link href="/wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
<!-- Font Awesome -->
<link rel="stylesheet" href="/wwwroot/bower_components/font-awesome/css/font-awesome.min.css" />
<!-- Ionicons -->
<link rel="stylesheet" href="/wwwroot/bower_components/Ionicons/css/ionicons.min.css">
<!-- Theme style -->
<link href="/wwwroot/css/AdminLTE.min.css" rel="stylesheet" />
<!-- AdminLTE Skins. Choose a skin from the css/skins
     folder instead of downloading all of them to reduce the load. -->
<link href="/wwwroot/css/skins/_all-skins.min.css" rel="stylesheet" />
<link href="/wwwroot/css/style.css" rel="stylesheet" />
<!-- Date Picker -->
<link rel="stylesheet" href="/wwwroot/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
<!-- Daterange picker -->
<link rel="stylesheet" href="/wwwroot/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
<!-- bootstrap wysihtml5 - text editor -->
<link rel="stylesheet" href="/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
<link href="/wwwroot/plugins/Particles/css/style.css" rel="stylesheet" />
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
<!--[if lt IE 9]>
<script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
<script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
<![endif]-->
<!-- Google Font -->
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

<link href="/wwwroot/plugins/alertifyjs/css/alertify.css" rel="stylesheet" />
<link href="/wwwroot/plugins/jquery-confirm-master/css/jquery-confirm.css" rel="stylesheet" />

<link href="/wwwroot/css/loading.css" rel="stylesheet" />
<!-- Select2 -->
<link rel="stylesheet" href="/wwwroot/bower_components/select2/dist/css/select2.min.css">
