<!DOCTYPE html>
<html>
<head>
  <title> @ViewBag.Title</title>
  @* CSS *@
  @RenderPage("_CSS.cshtml")

  @RenderSection("css", required: false)
</head>
<body class="hold-transition skin-blue sidebar-mini">



  @* Render Script *@
  @RenderPage("_Scripts.cshtml")
  @* Requide Script *@
  @RenderSection("scripts", required: false)
</body>
</html>

