<!-- jQuery 3 -->
<script src="/wwwroot/Scripts/pages/jquery-3.3.1.js"></script>
<!-- jQuery UI 1.11.4 -->
<script src="/wwwroot/bower_components/jquery-ui/jquery-ui.min.js"></script>
<!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
<script>
  $.widget.bridge('uibutton', $.ui.button);
</script>
<!-- Bootstrap 3.3.7 -->
<script src="/wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Sparkline -->
<script src="/wwwroot/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
<!-- daterangepicker -->
<script src="/wwwroot/bower_components/moment/min/moment.min.js"></script>
<script src="/wwwroot/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
<!-- datepicker -->
<script src="/wwwroot/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
<!-- Bootstrap WYSIHTML5 -->
<script src="/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
<!-- Slimscroll -->
<script src="/wwwroot/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
<!-- FastClick -->

<script src="/wwwroot/bower_components/fastclick/lib/fastclick.js"></script>
<!-- Select2 -->
<script src="/wwwroot/bower_components/select2/dist/js/select2.full.min.js"></script>

<!-- AdminLTE App -->
<script src="/wwwroot/Scripts/adminlte.min.js"></script>
<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
<script src="/wwwroot/Scripts/pages/dashboard.js"></script>

<script src="/wwwroot/plugins/alertifyjs/alertify.js"></script>
<script src="/wwwroot/plugins/jquery-confirm-master/js/jquery-confirm.js"></script>

@* Util vue js *@
<script src="~/src/util/Util.js"></script>
