<template>
  <div>
    <div class="content-wrapper">
      <section class="content">
        <div class="row">
          <div class="col-md-12">

            <div class="content">
              <img src="/wwwroot/dist/img/error-img.png" title="error" />
              <p><span><label>O</label>hh.....</span>Xin lỗi! Trang bạn vừa yêu cầu không được tìm thấy</p>

              <router-link tag="a"
                           to="/"
                           exact>
                Quay lại trang chủ
              </router-link>
            </div>
          </div>
        </div>

      </section>
    </div>
  </div>
</template>
<script>
</script>
<style scoped>
  .content {
    text-align: center;
    padding: 35px 0px 40px 0px;
  }
  .content p {
    margin: 18px 0px 45px 0px;
  }

  .content p {
    font-family: "Century Gothic";
    font-size: 2em;
    color: #666;
    text-align: center;
  }

    .content p span, .logo h1 a {
      color: #e54040;
    }



    .content a {
      color: #fff;
      font-family: "Century Gothic";
      background: #666666;
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
      padding: 15px 20px;
      border-radius: 1em;
      font-weight: bold;
    }

      .content a:hover {
        color: #fff;
        font-weight: bold;
      }

  .logo {
    text-align: center;
    -webkit-box-shadow: 0 8px 6px -6px rgb(97, 97, 97);
    -moz-box-shadow: 0 8px 6px -6px rgb(97, 97, 97);
    box-shadow: 0 8px 6px -6px rgb(97, 97, 97);
  }

    .logo h1 {
      font-size: 2em;
      font-family: "Century Gothic";
      background: #666666; /* Old browsers */
      background: -moz-linear-gradient(top, #666666 0%, #666666 100%); /* FF3.6+ */
      background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#666666), color-stop(100%,#666666)); /* Chrome,Safari4+ */
      background: -webkit-linear-gradient(top, #666666 0%,#666666 100%); /* Chrome10+,Safari5.1+ */
      background: -o-linear-gradient(top, #666666 0%,#666666 100%); /* Opera 11.10+ */
      background: -ms-linear-gradient(top, #666666 0%,#666666 100%); /* IE10+ */
      background: linear-gradient(to bottom, #666666 0%,#666666 100%); /* W3C */
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#666666', endColorstr='#666666',GradientType=0 ); /* IE6-9 */
      padding: 10px 10px 18px 10px;
    }

      .logo h1 a {
        font-size: 1em;
      }

  .copy-right {
    padding-top: 20px;
  }

    .copy-right p {
      font-size: 0.9em;
    }

      .copy-right p a {
        background: none;
        color: #e54040;
        padding: 0px 0px 5px 0px;
        font-size: 0.9em;
      }

        .copy-right p a:hover {
          color: #666;
        }
</style>
