<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Danh sách thống kê nhập hàng
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Thống kê nhập hàng</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">

          <!-- /.box-header -->
          <!-- form start -->
          <div role="form">
            <div class="box-body">
              <div class="row">
                <div class="col-md-3">
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Tùy chọn bộ lọc</h3>
                    </div>
                    <div class="box-body" style="">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Từ ngày:</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                              <datepicker v-model="stateFromTime.date" name="date"
                                          calendar-class="width-wrapper"
                                          input-class="form-control height-input"
                                          :highlighted="stateFromTime.highlighted"
                                          format="dd/MM/yyyy">

                              </datepicker>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <div class="col-md-12 ">
                          <div class="form-group">
                            <label>Tới ngày:</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                              <datepicker v-model="stateToTime.date" name="date"
                                          calendar-class="width-wrapper"
                                          input-class="form-control height-input"
                                          :highlighted="stateToTime.highlighted"
                                          format="dd/MM/yyyy">

                              </datepicker>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <div class="col-md-12 form-group">
                          <button class="btn btn-success form-control flat" @click="FilterImportHistory()">
                            <i class="fa  fa-filter"></i>&nbsp;
                            Áp dụng
                          </button>
                        </div>
                        <div class="col-md-12 form-group">
                          <button class="btn btn-danger form-control flat" @click="FilterAllHistory()">
                            <i class="fa  fa-refresh"></i>&nbsp;
                            Lọc tất cả
                          </button>
                        </div>
                        <div class="col-md-12">
                          <ul class="todo-list ui-sortable">
                            <li>
                              <!-- drag handle -->
                              <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                              </span>

                              <!-- todo text -->
                              <span class="text">Số lượng đơn hàng</span>
                              <!-- Emphasis label -->
                              <span class="badge bg-yellow pull-right"> {{countItem}}</span>
                              <!-- General tools such as edit or delete-->

                            </li>
                            <li>
                              <!-- drag handle -->
                              <span class="handle ui-sortable-handle">
                                <i class="fa fa-ellipsis-v"></i>
                                <i class="fa fa-ellipsis-v"></i>
                              </span>

                              <!-- todo text -->
                              <span class="text">Tổng tiền</span>
                              <!-- Emphasis label -->
                              <span class="badge bg-yellow pull-right">{{ConverPrice(totalMoneyImport," đ")}}</span>
                              <!-- General tools such as edit or delete-->

                            </li>


                          </ul>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="col-md-9">
                  <list-import-history-component></list-import-history-component>
                </div>
              </div>
            </div>
            <!-- /.box-body -->

          </div>

        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import axios from "axios";
  import ListImportHistoryComponent from './ListImportHistoryComponent'
  import Datepicker from 'vuejs-datepicker'
  import { en, vi } from 'vuejs-datepicker/dist/locale'
  import EventBus from "../EventBus";
  export default {
    components: {
      ListImportHistoryComponent, Datepicker
    },
    data() {
      return {
        stateFromTime: {
          date: new Date(),
          highlighted: {
            days: [0], // Highlight Sunday's
          }
        },
        stateToTime: {
          date: new Date(),
          highlighted: {
            days: [0], // Highlight Sunday's
          }
        },
        countItem: 0,
        totalMoneyImport:0
      }
    },
    methods: {
      FilterImportHistory: function () {

        let fromDate = this.stateFromTime.date;
        let endDate = this.stateToTime.date;
        let resultCompare = this.Compare(fromDate, endDate);
        if (resultCompare == 1) {
          AlertBasic("fa fa-warning", "Cảnh báo", "Thời gian bạn chọn không hợp lệ!", "orange");
          return;
        }

        ShowLoadingBar();
        EventBus.$emit("searchByDate", { fromDate, endDate });
      },
      FilterAllHistory: function () {
        ShowLoadingBar();
        let fromDate = "";
        let endDate = "";
        EventBus.$emit("searchByDate", { fromDate, endDate });
      },
      convert: function (d) {
        return (
          d.constructor === Date ? d :
            d.constructor === Array ? new Date(d[0], d[1], d[2]) :
              d.constructor === Number ? new Date(d) :
                d.constructor === String ? new Date(d) :
                  typeof d === "object" ? new Date(d.year, d.month, d.date) :
                    NaN
        );
      },
      Compare: function (a, b) {
        //  -1 : if a < b
        //   0 : if a = b
        //   1 : if a > b
        return (
          isFinite(a = this.convert(a).valueOf()) &&
            isFinite(b = this.convert(b).valueOf()) ?
            (a > b) - (a < b) :
            NaN
        );


      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
    },
    created() {
      EventBus.$on("infoImport", res => {
        this.countItem = res.countItem;
        this.totalMoneyImport = res.totalMoneyImport;
      });
    }
  }
</script>
