<template>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"> <i class="ion ion-clipboard"></i> Lịch sử nhập hàng</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">

      <table id="list-product-category" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã đơn hàng</th>
            <th>Người nhập hàng</th>
            <th>Ngày nhập hàng</th>
            <th>Tổng tiền</th>
            <th>SL Mặt hàng</th>
            <th>Tổng SL nhập</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in listImportHistory">
            <td>{{index+1+skip}}</td>
            <td>
              {{item.FoodImportID}}
            </td>
            <td>
              {{item.NameUserImport}}
            </td>
            <td>
              {{ParseJsonDate(item.CreateTime)}}
            </td>
            <td>
              {{ConverPrice(item.Total," ₫")}}
            </td>
            <td> {{item.QuantityFoodImport}}</td>
            <td> {{item.ToTalQuantityFoodImport}}</td>

            <td class="text-right">
              <button class="btn btn-info" @click="openModalView(item)">
                <i class="fa fa-eye"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <Paginate v-model="page"
                  :page-count="totalPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :page-range="3"
                  :margin-pages="2"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :prev-class="'page-item'"
                  :next-class="'page-item'"
                  :page-link-class="'page-link'"
                  :prev-link-class="'page-link'"
                  :next-link-class="'page-link'"
                  :click-handler="changePage">
        </Paginate>
      </div>
    </div>
    <!-- /.box-body -->
    <!-- Modal sản phẩm con -->
    <div class="modal fade" id="modal-edit" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Chi tiết hóa đơn</h4>
          </div>
          <div class="modal-body">


            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="width: 10px">STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                    <th>Tiến trình %</th>
                    <th style="width: 40px">Số %</th>
                  </tr>
                  <tr v-for="(item,index) in listImportDetail">
                    <td>{{index+1}}</td>
                    <td>{{item.FoodName}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{ConverPrice(item.Amount," ₫")}}</td>
                    <td>
                      <div class="progress progress-xs progress-striped active">
                        <div class="progress-bar progress-bar-success" :style="{width: (item.Quantity/totalQuantityItem)*100 +'%'}"></div>
                      </div>
                    </td>
                    <td><span class="badge bg-red">{{ ((item.Quantity/totalQuantityItem)*100).toFixed(1)}}%</span></td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
  import Paginate from 'vuejs-paginate'
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    components: { Paginate },
    data() {
      return {
        totalPage: 0,
        page: 1,
        skip: 0,
        listImportHistory: [],
        fromDate: "",
        endDate: "",
        listImportDetail: [],
        person: 0,
        totalQuantityItem:0
      }
    },
    methods: {
      SearchImportHistory: function (fromDate, endDate, page = 1) {

        let seft = this;
        axios.post("/import-history", { fromDate: fromDate, endDate: endDate, page: page }).then(res => {
          seft.skip = res.data.skip;
          seft.totalPage = res.data.totalPage;
          seft.listImportHistory = res.data.result;
          console.log(seft.listImportHistory);
          HideLoadingBar();

          EventBus.$emit("infoImport", { countItem: res.data.countItem, totalMoneyImport: res.data.totalMoneyImport });
        })
      },
      changePage(pageNum) {
        this.SearchImportHistory(this.fromDate, this.endDate, pageNum);
        //console.log(this.skip);
      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      openModalView: function (item) {
        let seft = this;
        axios.get("/get-import-detail/" + item.FoodImportID).then(res => {
          seft.listImportDetail = res.data;
          seft.totalQuantityItem = item.ToTalQuantityFoodImport;
          $("#modal-edit").modal("show");
        });
      },
      ParseJsonDate: function (jsonDate) {
        var offset = new Date().getTimezoneOffset() * 60000;
        var parts = /\/Date\((-?\d+)([+-]\d{2})?(\d{2})?.*/.exec(jsonDate);
        if (parts[2] == undefined) parts[2] = 0;
        if (parts[3] == undefined) parts[3] = 0;
        let d = new Date(+parts[1] + offset + parts[2] * 3600000 + parts[3] * 60000);
        let date = d.getDate();
        date = date < 10 ? "0" + date : date;
        let mon = d.getMonth() + 1;
        mon = mon < 10 ? "0" + mon : mon;
        let year = d.getFullYear();
        return (date + "/" + mon + "/" + year);
      }
    },
    created() {
      ShowLoadingBar();

      EventBus.$on("searchByDate", res => {

        this.page = 1;
        this.fromDate = res.fromDate;
        this.endDate = res.endDate;
        this.SearchImportHistory(this.fromDate, this.endDate, 1);
      })
      this.SearchImportHistory("", "", 1);
    }
  }
</script>
