<template>
    <div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          <address>
            From:<strong> ABC Quán</strong>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <address>
            To:<strong> Khách</strong>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          Mã hóa đơn:    <b>#1</b>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th width="50px">SL</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>Cà phê sửa đá</td>
                <td>25.000.000 đ</td>
                <td>1</td>
                <td>25.000.000 đ</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Sting</td>
                <td>25.000.000 đ</td>
                <td>2</td>
                <td>25.000.000 đ</td>
              </tr>
              <tr>
                <td>2</td>
                <td>Kem</td>
                <td>25.000.000 đ</td>
                <td>5</td>
                <td>25.000.000 đ</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Phương thức thanh toán:</p>
          <img src="/wwwroot/dist/img/credit/visa.png" alt="Visa">
          <img src="/wwwroot/dist/img/credit/mastercard.png" alt="Mastercard">
          <img src="/wwwroot/dist/img/credit/american-express.png" alt="American Express">
          <img src="/wwwroot/dist/img/credit/paypal2.png" alt="Paypal">
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            Thanh toán qua thẻ ngân hàng để nhận được nhiều ưu đãi hơn.
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Ngày In Hóa đơn: 3/3/2019</p>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th style="width:50%">Tổng tiền:</th>
                <td>15.000đ</td>
              </tr>
              <tr>
                <th>Khuyến mãi:</th>
                <td>15.000đ</td>
              </tr>
              <tr>
                <th>Thành tiền:</th>
                <td>5.000đ</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
          <p class="text-center">
            Xin chân thành cảm ơn và hẹn gặp lại quý khách!
          </p>
        </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>
</template>
<script>

import axios from "axios";
import EventBus from "../EventBus";
export default {
    data(){
        return {

        }
    },
    methods:{

    },
    created(){
        console.log(this.$route);
            EventBus.$on("PrintBill", item => {
                            console.log(item);
                    });
    },
    mounted(){
         EventBus.$on("PrintBill", item => {
                console.log(item);
         });
    }
}
</script>

