<template>
  <div class="box-primary">
    <div class="nav-tabs-custom">
      <ul class="nav nav-tabs">
        <li class="active"><a href="#tab1" data-toggle="tab">SP theo danh mục</a></li>
        <li><a href="#tab2" data-toggle="tab">DS sản phẩm</a></li>

        <li class="pull-right"><a href="#" class="text-muted"><i class="fa fa-gear"></i></a></li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane active" id="tab1">

            <div class="form-group none-border-bottom">
              <label for="exampleInputEmail1">Danh mục món ăn</label>
              <Select2 v-model="idFoodType"
                       :options="listFoodType"
                       @change="getListFood($event)" />
            </div>
            <div class="form-group  none-border-bottom">
              <label>Sản phẩm</label>
              <Select2 v-model="idFood"
                       :options="listFood"
                       @select="selectFood($event)"
                       style="width:100%" />
            </div>
            <div class="box-detail" >
              <div class="form-group none-border-bottom"  v-if="idFood>0">
                <label for="exampleInputEmail1">Số lượng</label>
                <input type="email" class="form-control" v-model="quantityImport">
              </div>
              <div class="form-group none-border-bottom box-detail-import" v-bind:class="{showdetail:isShow}" >
                <div class="box box-warning box-solid">
                  <div class="box-header with-border">
                    <h3 class="box-title">Chi tiết nhập hàng</h3>
                    <div class="box-tools pull-right">
                      <button type="button" class="btn btn-box-tool close-box-import" data-widget="remove" @click="OpenBox()"><i class="fa fa-times"></i></button>
                    </div>
                  </div>
                  <div class="box-footer no-padding">
                    <ul class="nav nav-stacked">
                      <li><a href="#">Tên Sản phẩm: <span class="pull-right badge bg-blue">{{nameFood}}</span></a></li>
                      <li><a href="#">Số lượng tồn kho <span class="pull-right badge bg-red"> {{quantity}} đơn vị</span></a></li>
                      <li><a href="#">Nhập thêm: <span class="pull-right badge bg-green"> {{quantityImport}} đơn vị</span></a></li>
                      <li><a href="#">Tổng cộng: <span class="pull-right badge bg-green"> {{TotalQuantity(quantity,quantityImport)}} đơn vị</span></a></li>
                      <li><a href="#">Đơn giá: <span class="pull-right badge bg-yellow">  {{ConverPrice(priceImport, ' ₫')}}</span></a></li>
                      <li><a href="#">Tạm tính (SL nhập * đơn giá): <span class="pull-right badge bg-yellow"> {{ConverPrice(quantityImport*priceImport,' ₫')}} </span></a></li>
                    </ul>
                  </div>
                </div>
              </div>

            </div>

            <button type="button" class="btn btn-primary pull-right" @click="AddCart()"><i class="fa fa-plus-square"></i>&nbsp;Thêm vào danh sách</button>
          <div class="clearfix"></div>
        </div>
        <!-- /.tab-pane -->
        <div class="tab-pane" id="tab2">
          Chức năng đang nâp cấp
        </div>

      </div>
      <!-- /.tab-content -->
    </div>

  </div>
</template>
<script>
  import Select2 from "v-select2-component";
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    components: { Select2 },
    data() {
      return {
        listFoodType: [{ id: 0, text: "Tất cả loại" }],
        listFood: [{ id: 0, text: "Chọn món" }],
        idFoodType: 0,
        idFood: 0,
        quantityImport:0,
        nameFood: "",
        quantity:0,
        priceImport: 0,
        isShow:false
      }
    },
    methods: {
      getFoodType: function () {
        let seft = this;
        this.listFoodType = [{ id: 0, text: "Tất cả loại" }];
        axios.get("/FoodType/GetAllFoodType").then(res => {
          let data = res.data;
          data.map(item => {
            let model = [];
            model["id"] = item.FoodTypeID;
            model["text"] = item.Name;
            this.listFoodType.push(model);
          });
        });
      },
      getListFood: function (idFoodType) {
        if (idFoodType==0) {
          this.getAllFood();
          return;
        }
        this.listFood = [{ id: 0, text: "Chọn món" }];
        let seft = this;
        axios.get("/food-by-type/" + idFoodType).then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.FoodID;
            model["text"] = item.FoodName;
            model["data"] = item;
            this.listFood.push(model);
          });

          this.idFood = 0;
        });

      },
      getAllFood: function () {

          this.listFood = [{ id: 0, text: "Chọn món" }];
          let seft = this;
          axios.get("/Food/GetAllFood/").then(res => {
            let data = res.data;

            data.map(item => {
              let model = [];
              model["id"] = item.FoodID;
              model["text"] = item.FoodName;
              model["data"] = item;
              this.listFood.push(model);
            });
          });

      },
      selectFood: function (item) {
        this.quantityImport =1;
        this.nameFood = item.text;
        this.quantity =parseInt(item.data.Quantity);
        this.priceImport = item.data.Price_Import;
      },
      ConverPrice : function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      TotalQuantity: function (oldQuantity, newQuantity) {
        return parseInt(oldQuantity) + parseInt(newQuantity);
      },
      AddCart: function () {

        if (this.idFood == 0) {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng chọn sản phẩm", "red");
          return;
        }
        if (this.quantityImport <= 0) {
          AlertBasic("fa fa-frown-o", "Error", "Số lượng nhập hàng phải lớn hơn 0", "red");
          return;
        }
        let seft = this;
        axios.post("/import-session-food", { idFood: this.idFood, quantityImport: this.quantityImport }).then(res => {
          seft.idFoodType = 0;
          seft.idFood = 0;
          seft.quantityImport = 1;
          alertify.set('notifier', 'position', 'top-right');
          alertify.success("Bạn đã thêm danh sách sản phẩm thành công.");

          EventBus.$emit("isLoadCart", true);
        })
      },
      OpenBox: function () {
        this.isShow = !this.isShow;
        
      }
    },
    mounted() {
    },
    created() {
      this.getFoodType();
      this.getAllFood();
    },
    watch: {
      idFood: function (newVal, oldVal) {
        this.isShow = newVal > 0 ? true : false;
      }
    }
  }
</script>
