<template>
  <div class="content-wrapper">
    <section class="content-header">
      <h1>
        Danh mục nhập hàng hóa
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li>Quản lý sản phẩm</li>
        <li class="active">    Danh mục nhập hàng hóa</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin nhập hàng</h3>
            </div>
            <div class="box-header">
              <!-- Render thống kê -->
              <thong-ke-component></thong-ke-component>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div>
              <div class="box-body">
                <div class="row">
                  <div class="col-md-4">
                    <add-import-component></add-import-component>
                  </div>
                  <div class="col-md-8">
                    <list-import-component></list-import-component>
                  </div>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import AddImportComponent from './AddImportComponent.vue'
  import ListImportComponent from './ListImportComponent.vue'
  import ThongKeComponent from '../product/ThongKeComponent'
  export default {
    components: {
      AddImportComponent, ListImportComponent, ThongKeComponent
    },
    created() {
      ShowLoadingBar();
    }
  }
</script>
