<template>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Danh sách nhập hàng</h3>

    </div>

    <!-- /.box-header -->
    <div class="box-body">
      <table id="list-product-category" class="table table-bordered table-striped">
        <thead>
          <tr>
            <th>STT</th>
            <th>Tên sản phẩm</th>
            <th>SL tồn</th>
            <th>SL nhập</th>
            <th>Tổng SL</th>
            <th>Đơn giá</th>
            <th>Tạm tính</th>
            <th>Xóa</th>
          </tr>
        </thead>
        <tbody>
          <tr v-if="isLoadAlert">
            <td colspan="8" class="text-center">
              <span class="label label-warning ">
                Chưa có dữ liệu đơn hàng
              </span>
            </td>

          </tr>
          <tr v-for="(item,index) in listFood" v-bind:key="index">
            <td>{{index+1}}</td>
            <td>
              {{item.FoodName}}
            </td>
            <td>
              {{item.OldQuantity}}
            </td>
            <td>
              {{item.NewQuantity}}
            </td>
            <td>
              {{item.TotalQuantity}}
            </td>
            <td>
              {{ConverPrice(item.PriceImport, " đ")}}
            </td>
            <td>
              {{ConverPrice(item.NewQuantity * item.PriceImport," đ")}}
            </td>
            <td>
              <button class="btn btn-danger" @click="RemoveCartItem(item.ID)">
                <i class="fa fa-trash-o"></i>
              </button>
            </td>

          </tr>

          <tr v-if="isLoadInfoImport">
            <td colspan="8">
              <dl class="dl-horizontal cart-import">
                <dt>Ngày nhập:</dt>
                <dd id="eval-date">27/3/2019</dd>
                <dt>Người nhập hàng:</dt>
                <dd>Admin</dd>
                <dt>Tổng tiền phiếu nhập:</dt>
                <dd class="price">{{ConverPrice(amount, " đ")}}</dd>
                <dd>
                  <button class="btn btn-success pull-right btn-import" @click="AddImport()">
                    <i class="fa fa-truck"></i>&nbsp;
                    Nhập hàng ngay
                  </button>
                </dd>
              </dl>
            </td>
          </tr>
        </tbody>

      </table>

    </div>
    <!-- /.box-body -->

  </div>
</template>
<script>
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    data() {
      return {
        listFood: [],
        amount: 0,
        isLoadAlert: false,
        isLoadInfoImport: false
      }
    },
    methods: {
      GetAllCart: function () {
        let seft = this;
        axios.get("/ImportFood/GetAllSessionCart").then(res => {

          seft.listFood = res.data.result;
          seft.amount = res.data.Amount;
          seft.listFood.length <= 0 ? seft.isLoadAlert = true : seft.isLoadAlert = false;
          seft.isLoadInfoImport = !seft.isLoadAlert;

          HideLoadingBar();
        });
      },
      RemoveCartItem: function (id) {
        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Gỡ sản phẩm",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có chắc chắn muốn gỡ sản phẩm trong danh sách nhập hàng này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios.get("/remove-session-food/" + id).then(res => {
                  if (res.data.result == true) {

                    seft.GetAllCart();

                    alertify.set('notifier', 'position', 'top-right');
                    alertify.success("Bạn đã gỡ sản phẩm trong danh sách nhập hàng thành công.");
                  }
                })
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });

      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      AddImport: function () {
        let seft = this;
        if (this.listFood.length <= 0) {
          AlertBasic("fa fa-frown-o", "Error", "Giỏ hàng đang rỗng! Vui lòng thêm mới sản phẩm", "red");
          return;
        }
        axios.get("/ImportFood/AddImport").then(res => {
          if (res.data.result == true) {


            EventBus.$emit("isRefesh", true);
            AlertBasic("fa fa-check", "Success", "Bạn đã nhập hàng thành công", "green");
            seft.GetAllCart();
          }
        });
      }
    },
    created() {
      this.GetAllCart();

      EventBus.$on("isLoadCart", item => {
        if (item == true) {
          this.GetAllCart();
        }
      });
    }
  }
</script>
