<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Danh sách danh mục sản phẩm
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li>Quản lý sản phẩm</li>
        <li class="active">Danh sách danh mục sản phẩm</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header with-border">
              <h3 class="box-title">Thông tin danh mục sản phẩm</h3>
            </div>
            <div class="box-header">
              <!-- Render thống kê -->
                <thong-ke-component></thong-ke-component>
            </div>
            <!-- /.box-header -->
            <!-- form start -->
            <div role="form">
              <div class="box-body">
                <div class="row">
                  <!-- Render Product Main Manager -->
                  <product-main-component></product-main-component>

                  <!-- Render Product list -->
                  <product-list-component></product-list-component>
                </div>
              </div>
              <!-- /.box-body -->
              <div class="box-footer">

              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>

  import ProductMainComponent from './ProductMainComponent.vue'
  import ProductListComponent from './ProductListComponent.vue'
  import ThongKeComponent from './ThongKeComponent.vue'
  export default {
    components: {
      ProductMainComponent, ProductListComponent, ThongKeComponent
    },
  }
</script>
