<template>
  <div class="col-md-9">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Danh mục con</h3>
        <button type="button" class="btn btn-info btn-flat pull-right" @click="OpenModalAdd()">
          <i class="fa fa-plus-square"></i>
          thêm mới
        </button>

      </div>

      <div class="box-body">
        <div class="row">
          <div class="col-sm-4">
            <div class="form-group">
              <Select2 v-model="idFoodTypeSearch"
                       :options="listFoodType"
                       @select="SelectFoodTypeSearch()"
                       style="width:100%" />
            </div>
          </div>
          <div class="col-sm-6">
            <div class="input-group input-group">
              <input type="text" class="form-control" v-model="keyword" placeholder="Tìm kiếm theo tên sản phẩm">
              <span class="input-group-btn">
                <button type="button" class="btn btn-info btn-flat" @click="SearchFood(idFoodType,keyword)">
                  <i class="fa fa-search"></i>
                </button>
              </span>
            </div>
          </div>
          <div class="col-sm-2">
            <button type="submit" class="btn btn-info btn-flat pull-right" @click="ClearSearch()">
              <i class="fa fa-close"></i>
              Hủy bộ lọc
            </button>
          </div>
        </div>
        <table id="productDataTable" class="table table-bordered table-striped table-hover">
          <thead>
            <tr>
              <th>STT</th>
              <th>Tên</th>
              <th>Loại sản phẩm</th>
              <th>Giá nhập</th>
              <th>Giá bán</th>
              <th>Số lượng</th>
              <th>Sửa</th>
              <th>Xóa</th>
            </tr>
          </thead>
          <tbody>

            <tr v-for="(item,index) in listProduct" v-bind:key="index">
              <td>{{index+1+skip}}</td>
              <td>
                {{item.FoodName}}
              </td>
              <td>
                {{item.FoodTypeName}}
              </td>
              <td>
                {{ConverPrice(item.Price_Import,' đ')}}
              </td>
              <td>
                {{ConverPrice(item.Price_Output,' đ')}}
              </td>
              <td>
                {{item.Quantity +" ("+ item.Description+")"}}
              </td>
              <td>
                <button class="btn btn-warning" @click="OpenModalEdit(item)">
                  <i class="fa fa-pencil-square-o"></i>
                </button>
              </td>
              <td>
                <button class="btn btn-danger" @click="RemoveFood(item)">
                  <i class="fa fa-trash-o"></i>
                </button>
              </td>

            </tr>
            <tr v-if="isShowAlert">
              <td colspan="8" class="alert alert-warning alert-dismissible text-center">

                Chưa có dữ liệu món
              </td>
            </tr>

          </tbody>

        </table>
        <div class="text-right">
          <Paginate v-model="page"
                    :page-count="totalPage"
                    :prev-text="'Prev'"
                    :next-text="'Next'"
                    :page-range="3"
                    :margin-pages="2"
                    :container-class="'pagination'"
                    :page-class="'page-item'"
                    :prev-class="'page-item'"
                    :next-class="'page-item'"
                    :page-link-class="'page-link'"
                    :prev-link-class="'page-link'"
                    :next-link-class="'page-link'"
                    :click-handler="changePage">
          </Paginate>
        </div>

      </div>
      <!-- /.box-body -->
      <!-- Modal sản phẩm con -->
      <div class="modal fade" id="modal-edit-food" style="display: none;">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title">Thêm / Cập nhật sản phẩm</h4>
            </div>
            <div class="modal-body">

              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div class="form-group none-border-bottom">
                      <label>Chọn loại SP: </label>
                      <Select2 v-model="idFoodType"
                               :options="listFoodType"
                               @select="SelectFoodType($event)"
                               style="width:100%" />
                    </div>

                    <div class="form-group none-border-bottom">
                      <label>Tên SP: </label>
                      <input class="form-control valid" type="text" autocomplete="off" v-model="nameFood">
                    </div>

                    <div class="form-group none-border-bottom">
                      <label>Đơn vị tính: </label>
                      <input class="form-control" type="text" autocomplete="off" v-model="description">
                    </div>
                  </div>
                  <div class="col-md-6">
                    <div class="form-group none-border-bottom">
                      <label>Đơn giá nhập: </label>
                      <input class="form-control  price-mask" type="text" v-model.lazy="priceImport">
                    </div>
                    <div class="form-group none-border-bottom">
                      <label>Đơn giá xuất: </label>
                      <input class="form-control   price-mask" type="text" v-model.lazy="priceOutput">
                    </div>

                    <div class="form-group none-border-bottom">
                      <label>Hình ảnh: </label>
                      <div class="input-group">
                        <input id="txtPhoto" name="txtPhoto" class="form-control" type="text" disabled="">
                        <span class="input-group-btn">
                          <button id="btnImportPhoto" type="button" class="btn btn-info btn-flat">Chọn ảnh</button>
                        </span>
                      </div>
                      <input id="txtQty" name="txtQty" class="form-control" type="hidden" value="">
                    </div>


                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default pull-left" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-primary" @click="AddOrEditFood()" v-if="idFood==0">Thêm mới</button>
              <button type="button" class="btn btn-warning" @click="AddOrEditFood()" v-else>Cập nhật</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>


    </div>
  </div>
</template>
<script>
  import Select2 from "v-select2-component";
  import Paginate from 'vuejs-paginate'
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    components: { Select2, Paginate },
    data() {
      return {
        listProduct: [],
        listFoodType: [{ id: 0, text: "Tất cả loại" }],
        nameFood: "",
        description: "",
        idFoodType: 0,
        idFoodTypeSearch: 0,
        idFood: 0,
        priceImport: 0,
        priceOutput: 0,
        dataTable: null,
        keyword: "",
        totalPage: 0,
        listParams: {},
        page: 1,
        skip: 0,
        isShowAlert:false
      }
    },
    methods: {
      GetAllFood: function (idFoodType = this.idFoodType, keyword = this.keyword) {
        let seft = this;
        seft.SearchFood(idFoodType, keyword);

        HideLoadingBar();

      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      GetAllFoodType: function () {
        let seft = this;
        this.listFoodType = [{ id: 0, text: "Tất cả loại" }];
        axios.get("/FoodType/GetAllFoodType").then(res => {
          let data = res.data;
          data.map(item => {
            let model = [];
            model["id"] = item.FoodTypeID;
            model["text"] = item.Name;
            this.listFoodType.push(model);
          });
        });
      },
      SelectFoodType: function () {

      },
      AddOrEditFood: function () {

        if (this.idFoodType == "") {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng chọn loại danh mục sản phẩm", "red");
          return;
        }
        if (this.nameFood == "") {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng nhập tên sản phẩm", "red");
          return;
        }
        if (this.description == "") {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng nhập đơn vị tính", "red");
          return;
        }
        if (this.priceImport == "") {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng nhập đơn giá nhập", "red");
          return;
        }
        if (this.description == "") {
          AlertBasic("fa fa-frown-o", "Error", "Vui lòng nhập đơn giá xuất", "red");
          return;
        }
        if (this.idFood == 0) {
          this.AddFood();
        }
        else {
          this.UpdateFood(this.idFood);
        }

      },
      AddFood: function () {
        let seft = this;
        let priceIn = this.priceImport.replace(/[,._ đ]/g, "");
        let priceOut = this.priceOutput.replace(/[,._ đ]/g, "");
        let data = { foodName: this.nameFood, idFoodType: this.idFoodType, description: this.description, priceImport: priceIn, priceOutput: priceOut };
        axios.post("/insert-food", data).then(res => {
          if (res.data == true) {
            AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã thêm sản phẩm thành công!", "green");
            seft.idFoodTypeSearch = seft.idFoodType;
            seft.ClearFormAddFood();
            EventBus.$emit("isRefesh", true);
          }
          else {
            AlertBasic("fa fa-frown-o", "Xin lỗi", "Sản phẩm chưa được thêm mới! Vui lòng thử lại", "red");
          }
        });
      },
      ClearFormAddFood: function () {
        this.nameFood = "";
        this.description = "";
        this.idFoodType = "";
      },
      UpdateFood: function () {
        let seft = this;

        debugger;
        let priceIn = parseInt(seft.priceImport.toString().replace(/[,._ đ]/g, ""));
        let priceOut = parseInt(seft.priceOutput.toString().replace(/[,._ đ]/g, ""));
        let data = { idFood: this.idFood, foodName: this.nameFood, idFoodType: this.idFoodType, description: this.description, priceImport: priceIn, priceOutput: priceOut };
        axios.post("/update-food", data).then(res => {
          if (res.data == true) {
            AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã cập nhật sản phẩm thành công!", "green");
            seft.idFoodTypeSearch = this.idFoodType;
            seft.GetAllFood(this.idFoodType, "");
            seft.ClearFormAddFood();


            EventBus.$emit("isRefesh", true);
          }
          else {
            AlertBasic("fa fa-frown-o", "Xin lỗi", "Sản phẩm chưa được cập nhật! Vui lòng thử lại", "red");
          }
        });
      },
      RemoveFood: function (item) {

        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa sản phẩm",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có chắc chắn muốn xóa sản phẩm này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios.get("/remove-food/" + item.FoodID).then(res => {
                  if (res.data == true) {
                    AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã xóa sản phẩm thành công!", "green");

                    seft.idFoodTypeSearch = this.idFoodType;
                    seft.GetAllFood(this.idFoodType, "");

                    EventBus.$emit("isRefesh", true);
                  }
                  else {
                    AlertBasic("fa fa-frown-o", "Xin lỗi", "Sản phẩm chưa được xóa! Vui lòng thử lại", "red");
                  }
                });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });


      },
      SelectFoodTypeSearch: function () {

        this.SearchFood(this.idFoodTypeSearch, this.keyword);

      },
      SearchFood: function (idFoodType, keyword, page = 1) {
        let seft = this;
        axios.post("/search-food", { foodTypeID: idFoodType, keyword: keyword, page: page }).then(res => {
          
          seft.skip = res.data.skip;
          seft.totalPage = res.data.totalPage;
          seft.listProduct = res.data.result;

          if (seft.listProduct.length == 0) {
            seft.isShowAlert = true;
          }
          else {
            seft.isShowAlert = false;
          }
        });
      },

      changePage(pageNum) {
        this.SearchFood(this.idFoodTypeSearch, this.keyword, pageNum);
      },

      ClearSearch: function () {

        this.idFoodTypeSearch = 0;
        this.keyword = "";
        this.GetAllFood(0, "");
      },
      OpenModalAdd: function () {
        this.nameFood = "";
        this.description = "";
        this.idFoodType = 0;
        this.idFood = 0;
        this.priceImport = 0;
        this.priceOutput = 0;
        $("#modal-edit-food").modal("show");
      },
      OpenModalEdit: function (item) {
        this.nameFood = item.FoodName;
        this.description = item.Description;
        this.idFoodType = item.FoodTypeID;
        this.idFood = item.FoodID;
        this.priceImport = item.Price_Import;
        this.priceOutput = item.Price_Output;


        $("#modal-edit-food").modal("show");
      }
    },
    mounted() {
      let seft = this;
    },
    updated() {
      Mask.Init();
    },
    created() {
      this.SearchFood(0, "", 1);
      this.GetAllFoodType();

      let seft = this;
      EventBus.$on("FoodType", item => {

        seft.listProduct = [];
        seft.idFoodTypeSearch = item.FoodTypeID;
        HideLoadingBar();

        //Mask
        //$("#txtImportPrice").mask("000,000,000", { reverse: true });
        //$("#txtPrice").mask("000,000,000", { reverse: true });
      });

      EventBus.$on("loadAccountByID", res => {
        this.SearchFood(res.AccountMainID, "", 1);
      });
    },
    watch: {
      keyword: function (newVal, oldVal) {
        this.SearchFood(this.idFoodTypeSearch, newVal, 1);
      },
      idFoodTypeSearch: function (newVal, oldVal) {
        EventBus.$emit("isLoadActive", this.idFoodTypeSearch);
        this.SearchFood(this.idFoodTypeSearch, this.keyword, 1);
      }
    }
  }
</script>
