<template>
  <div class="col-md-3">
    <div class="box box-info">
      <div class="box-header with-border">
        <h3 class="box-title">Danh mục cha</h3>
        <button type="button" class="btn btn-info btn-flat pull-right" @click="OpenModelAddFoodType()">
          <i class="fa fa-plus-square"></i>
          thêm mới
        </button>
      </div>
      <div class="box-body" style="">
        <div :class="{boxclick:true, active:item.FoodTypeID ==idFoodType }" v-for="(item,index)  in listProductType" v-bind:key="index" >
          <span @click="LoadFoodByID(item)" class="box-click-child">{{item.Name}}</span>
          <div class="input-btn-control">
            <button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#modal-default" @click="OpenModalEdit(item)">
              <i class="fa fa-edit"></i>
            </button>
            <!-- item.FoodTypeID -->
            <button type="button" class="btn btn-default pull-right" @click="RemoveFoodType(item.FoodTypeID)">
              <i class="fa fa-trash"></i>
            </button>
          </div>

        </div>


      </div>

      <!-- Modal sản phẩm cha -->
      <div class="modal fade" id="modal-add-food-type" style="display: none;">
        <div class="modal-dialog modal-sm">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
              </button>
              <h4 class="modal-title">Thêm / Cập nhật danh mục</h4>
            </div>
            <div class="modal-body">
              <div class="row">
                <div class="form-group form-md-line-input">
                  <label class="col-md-12 control-label bold text-capitalize">Tên loại sản phẩm:</label>
                  <div class="col-md-12">
                    <input type="text" class="form-control" v-model="nameFoodType" />
                    <div class="form-control-focus"></div>
                  </div>
                </div>
                <div class="form-group form-md-line-input">
                  <label class="col-md-12 control-label bold text-capitalize">Vị trí:</label>
                  <div class="col-md-12">
                    <input type="text" class="form-control" v-model="positionFoodType" />
                    <div class="form-control-focus"></div>
                  </div>
                </div>
              </div>

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              <button type="button" class="btn btn-success" @click="AddOrEditFoodType()">{{idFoodTypeEdit==0?"Thêm mới":"Cập nhật"}}</button>
            </div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
    </div>
  </div>
</template>
<script>
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    data() {
      return {
        listProductType: [],
        nameFoodType: "",
        idFoodType:0,
        idFoodTypeEdit: 0,
        positionFoodType: "",
      }
    },
    methods: {
      GetAllListProductType: function () {
        axios.get("/FoodType/GetAllFoodType").then(res => {
          this.listProductType = res.data;
          HideLoadingBar();


        });
      },
      AddOrEditFoodType: function () {

        if (this.nameFoodType == "") {
          AlertBasic("fa fa-frown-o", "Thêm thất bại", "Vui lòng nhập tên danh mục sản phẩm!", "red");
          return;
        }
        if (this.positionFoodType != "" && !this.IsInt(this.positionFoodType)) {

            AlertBasic("fa fa-frown-o", "Thêm thất bại", "Vui lòng nhập số", "red");
            return;
        }

        let seft = this;
        if (seft.idFoodTypeEdit == 0) {
          if (this.positionFoodType=="") {
            this.positionFoodType = 0;
          }
          axios.post("/insert-food-type", { name: this.nameFoodType, position: this.positionFoodType }).then(res => {
            if (res.data == true) {

              AlertBasic("fa fa-check", "Success", "Bạn đã thêm thành công danh mục sản phẩm!", "green");
              seft.GetAllListProductType();
            }
            else {
              AlertBasic("fa fa-frown-o", "Error", "Thêm không thành công! Vui lòng kiểm tra lại", "green");
            }
          });
        }
        else {
          seft.UpdateFoodtype();
        }

      },
      RemoveFoodType: function (idFoodType) {
        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa danh mục sản phẩm",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có muốn xóa danh mục sản phẩm này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios
                  .post("remove-food-type/" + idFoodType)
                  .then(res => {
                    if (res.data == true) {

                      AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã xóa thành công!", "green");
                      seft.GetAllListProductType();

                    } else {

                      AlertBasic("fa fa-frown-o", "Xóa thất bại", "Vui lòng thử lại!", "red");
                    }
                  });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });
      },
      UpdateFoodtype: function () {
        let seft = this;
        axios.post("/update-food-type", { idFoodType: this.idFoodTypeEdit, name: this.nameFoodType, position: this.positionFoodType }).then(res => {
          if (res.data == true) {

            AlertBasic("fa fa-check", "Success", "Bạn đã cập nhật thành công danh mục sản phẩm!", "green");
            seft.GetAllListProductType();
          }

          else {
            AlertBasic("fa fa-frown-o", "Error", "Update không thành công! Vui lòng kiểm tra lại", "green");
          }
        });
      },
      OpenModalEdit: function (item) {
        this.nameFoodType = item.Name;
        this.idFoodTypeEdit = item.FoodTypeID;
        this.positionFoodType = item.Position;
        $('#modal-add-food-type').modal('show');
      },
      OpenModelAddFoodType: function () {
        this.nameFoodType = "";
        this.idFoodTypeEdit = 0;
        this.positionFoodType = "";
        $('#modal-add-food-type').modal('show');
      },
      LoadFoodByID: function (item) {
        ShowLoadingBar();
        this.idFoodType = item.FoodTypeID;
        EventBus.$emit("FoodType", item);
      },
      IsInt: function (num) {
        if (parseInt(num) == num) {
          return true;
        }
        return false;
      }
    },
    mounted() {
    }
    ,
    created() {
      ShowLoadingBar();
      this.GetAllListProductType();

      EventBus.$on("isLoadActive", item => {
        this.idFoodType = item;
      });
    }
  }
</script>
