<template>
  <div class="row" id="thongke">
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-green ">
        <span class="info-box-icon"><i class="fa fa-cubes"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Số lượng mặt hàng</span>
          <span class="info-box-number">{{countFood}}</span>

          <div class="progress">
            <div class="progress-bar" v-bind:style="{ width: personFull+ '%'}"></div>
          </div>
          <span class="progress-description">
            100% số lượng mặt hàng
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>


      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-aqua">
        <span class="info-box-icon"><i class="fa fa-battery-4"></i></span>

        <div class="info-box-content">
          <span class="info-box-text">Số lượng sản phẩm</span>
          <span class="info-box-number">{{countQuantityFood}}</span>

          <div class="progress">
            <div class="progress-bar" v-bind:style="{ width: personFull+ '%'}"></div>
          </div>
          <span class="progress-description">
            100% số lượng sản phẩm
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-yellow tooltip">
        <span class="info-box-icon"><i class="fa fa-battery-quarter"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sản phẩm sắp hết hàng</span>
          <span class="info-box-number">{{countNearFood}}</span>

          <div class="progress">
            <div class="progress-bar" v-bind:style="{ width: personNear+ '%'}"></div>
          </div>
          <span class="progress-description">
            {{personNear}}% trên tổng mặt hàng
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
      <!-- /.info-box -->
    </div>
    <!-- /.col -->
    <div class="col-md-3 col-sm-6 col-xs-12">
      <div class="info-box bg-red tooltip-end">
        <span class="info-box-icon"><i class="fa fa-battery-0"></i></span>
        <div class="info-box-content">
          <span class="info-box-text">Sản phẩm đã hết hàng</span>
          <span class="info-box-number">{{countOutOfStockFood}}</span>

          <div class="progress">
            <div class="progress-bar" v-bind:style="{ width: personOutofStock+ '%'}"></div>
          </div>
          <span class="progress-description">
            {{personOutofStock}}% trên tổng mặt hàng
          </span>
        </div>
        <!-- /.info-box-content -->
      </div>
    </div>
  </div>

</template>
<script>
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    data() {
      return {
        countFood: 0,
        countQuantityFood: 0,
        countNearFood: 0,
        countOutOfStockFood: 0,
        personNear: 0,
        personOutofStock: 0,
        personFull: 0,
        listNearFood: []
      }
    },
    methods: {

      GetCountFood: function () {
        let seft = this;
        axios.get("/ThongKe/GetCountFood").then(res => {
          seft.countFood = res.data;
          seft.personFull = 100;
        });
      },
      GetQuantityFood: function () {
        let seft = this;
        axios.get("/ThongKe/GetQuantityFood").then(res => {
          seft.countQuantityFood = res.data;
        });
      },
      GetQuantityNearFood: function () {
        let seft = this;
        axios.get("/ThongKe/GetQuantityNearFood").then(res => {
          seft.countNearFood = res.data.countFood;
          seft.listNearFood = res.data.result;
          seft.personNear = ((seft.countNearFood * 100) / seft.countFood).toFixed(1);
          Tooltip.Init(".tooltip", seft.listNearFood);
        });
      },
      GetCountFoodOutOfStock: function () {
        let seft = this;
        axios.get("/ThongKe/GetCountFoodOutOfStock").then(res => {
          seft.countOutOfStockFood = res.data.countFood;

          this.personOutofStock = ((this.countOutOfStockFood * 100) / this.countFood).toFixed(1);

          Tooltip.Init(".tooltip-end", res.data.result);
        });
      }
    },
    mounted() {


    },
    updated() {

    },
    created() {
      this.GetCountFood();
      this.GetQuantityNearFood();
      this.GetQuantityFood();
      this.GetCountFoodOutOfStock();

      EventBus.$on("isRefesh", item => {
        if (item == true) {
          this.GetCountFood();
          this.GetQuantityNearFood();
          this.GetQuantityFood();
          this.GetCountFoodOutOfStock();
        }

      });
    }
  }
</script>
