<template>
  <div class="content-wrapper">

    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
            <div class="box-header ui-sortable-handle" style="cursor: move;">
              <i class="ion ion-clipboard"></i>

              <h3 class="box-title">Tất cả thông báo từ hệ thống</h3>

              <div class="box-tools pull-right">
                <Paginate v-model="page"
                          :page-count="totalPage"
                          :prev-text="'«'"
                          :next-text="'»'"
                          :page-range="3"
                          :margin-pages="2"
                          :container-class="'pagination'"
                          :page-class="'page-item'"
                          :prev-class="'page-item'"
                          :next-class="'page-item'"
                          :page-link-class="'page-link'"
                          :prev-link-class="'page-link'"
                          :next-link-class="'page-link'"
                          :click-handler="changePage">
                </Paginate>

              </div>
            </div>
            <div class="clearfix"></div>
            <br>
            <!-- /.box-header -->
            <div class="box-body">
              <!-- See dist/js/pages/dashboard.js to activate the todoList plugin -->
              <ul class="todo-list ui-sortable">
                <li v-for="item in dataHistory">
                  <!-- drag handle -->
                  <span class="handle ui-sortable-handle">
                    <i class="fa fa-ellipsis-v"></i>
                    <i class="fa fa-ellipsis-v"></i>
                  </span>
                  <span class="text" v-if="item.Description=='edit'|| item.Description=='add'">
                    <b style="color: #f01d7d;">{{item.FullName}}</b>
                    <small>
                      đã {{item.Description=='edit'?'cập nhật số lượng order từ '+item.OldQuantity +' thành ':'order'}}
                      {{item.NewQuantity}}
                      {{item.FoodName}}
                      tại bàn số {{item.TableID}}
                    </small>
                  </span>
                  <span class="text" v-if="item.Description=='change'">
                    <b style="color: #f01d7d;">{{item.FullName}}</b><small> đã chuyển bàn số {{item.TableID}} qua bàn số {{item.NewTableID}} </small>
                  </span>
                  <span class="text" v-if="item.Description=='general'">
                    <b style="color: #f01d7d;">{{item.FullName}}</b><small> đã gộp bàn số {{item.TableID}} qua bàn số {{item.NewTableID}} </small>
                  </span>
                  <span class="text" v-if="item.Description=='payment'">
                    <b style="color: #f01d7d;">{{item.FullName}}</b><small>  đã thanh toán bàn số {{item.TableID}}</small>
                  </span>
                  <!-- Emphasis label -->
                  <small class="label label-danger pull-right"><i class="fa fa-clock-o"></i> {{ParseTime(item.CreateTime)}}</small>
                  <!-- General tools such as edit or delete-->
                 
                </li>
              </ul>
            </div>
           
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import axios from "axios";
  import EventBus from "../EventBus";
  import Paginate from 'vuejs-paginate';
  export default {
    components: {
      Paginate
    },
    data() {
      return {
        dataHistory: [],
        totalPage: 0,
        skip: 0,
        page:1
      }
    },
    methods: {
      SearchHistory: function (page) {
        axios.get("/search-noti/" + page).then(res => {
          console.log("=====>History2====>");
          console.log(res.data);
          this.dataHistory = res.data.result;
          this.totalPage = res.data.totalPage;
          this.skip = res.data.skip;
          HideLoadingBar();
        });
      },
      changePage(pageNum) {
        this.SearchHistory(pageNum);
      },
      ParseTime: function (datetime) {
        return JSONDateWithTime(datetime)
      }
    }
    ,
    created() {
      ShowLoadingBar();
      this.SearchHistory(1);
    }
  }
</script>
