<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Thống kê doanh thu
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li> Thống kê doanh thu</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">


          <!-- /.box-header -->
          <!-- form start -->
          <div role="form">
            <div class="box-body">
              <div class="row">
                <div class="col-md-12">
                  <div class="box box-info">
                    <div class="box-header with-border">
                      <h3 class="box-title">Thống kê theo ngày</h3>

                    </div>
                    <div class="box-body" style="">
                      <div class="row">
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Từ ngày:</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                              <datepicker v-model="stateFromTime.date" name="date"
                                          calendar-class="width-wrapper"
                                          input-class="form-control height-input"
                                          :highlighted="stateFromTime.highlighted"
                                          format="dd/MM/yyyy">

                              </datepicker>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <div class="col-md-3">
                          <div class="form-group">
                            <label>Tới ngày:</label>
                            <div class="input-group">
                              <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                              </div>
                              <datepicker v-model="stateToTime.date" name="date"
                                          calendar-class="width-wrapper"
                                          input-class="form-control height-input"
                                          :highlighted="stateToTime.highlighted"
                                          format="dd/MM/yyyy">

                              </datepicker>
                            </div>
                            <!-- /.input group -->
                          </div>
                        </div>
                        <div class="col-md-2">
                          <label style="margin-bottom:13px">Action:</label>
                          <button class="btn btn-success form-control" @click="SearchRevenue()">
                            <i class="fa  fa-filter"></i>&nbsp;
                            Áp dụng
                          </button>
                        </div>
                        <div class="col-md-2">
                          <label style="margin-bottom:13px">Tuần hiện tại:</label>
                          <button class="btn btn-danger form-control" @click="LoadCurrentWeek()">
                            <i class="fa  fa-calendar"></i>&nbsp;
                            Tuần hiện tại
                          </button>
                        </div>
                        <div class="col-md-2">
                          <label style="margin-bottom:13px">Xuất Excel:</label>
                          <button class="btn btn-success form-control" @click="ExportExel('','')">
                            <i class="fa fa-file-excel-o"></i>&nbsp;
                            Xuất Excel
                          </button>
                        </div>
                      </div>

                    </div>

                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box box-info">

                    <div id="product-container" style="min-width: 310px; max-width: 800px; height: 400px; margin: 0 auto"></div>


                  </div>
                </div>
                <div class="col-md-8">
                  <div class="box box-info">

                    <div id="chart-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>

                  </div>
                </div>

              </div>
            </div>
          </div>

        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import axios from "axios";
  import EventBus from "../EventBus";
  import Datepicker from 'vuejs-datepicker'
  import { en, vi } from 'vuejs-datepicker/dist/locale'
  export default {
    components: {
      Datepicker
    },
    data() {
      return {
        fromDateSelect: '',
        stateFromTime: {
          date: new Date(),
          highlighted: {
            days: [0], // Highlight Sunday's
          }
        },
        stateToTime: {
          date: new Date(),
          highlighted: {
            days: [0], // Highlight Sunday's
          }
        },
      }
    },
    methods: {
      LoadChart: function (fromDate, endDate) {
        let seft = this;
        axios.post("/Chart/GetDataChart", { fromDate: fromDate, endDate: endDate }).then(res => {
          let dataDate = res.data.listData;
          let dataTable = res.data.chartListTableModels;

          seft.stateFromTime.date = new Date(res.data.fromDate);
          seft.stateToTime.date = new Date(res.data.endDate);

          //Init Lại chart
          ChartRevenue.Init(dataDate, dataTable);

          HideLoadingBar();
        });
      },
       LoadChartProduct: function (fromDate, endDate) {
        let seft = this;
        axios.post("/Chart/GetDataChartProduct", { fromDate: fromDate, endDate: endDate }).then(res => {

      
          //Init Lại chart
          ChartProduct.Init(res.data);

          HideLoadingBar();
        });
      },
      SearchRevenue: function () {

        let fromDate = this.stateFromTime.date;
        let endDate = this.stateToTime.date;
        let resultCompare = this.Compare(fromDate, endDate);
        if (resultCompare == 1) {
          AlertBasic("fa fa-warning", "Cảnh báo", "Thời gian bạn chọn không hợp lệ!", "orange");
          return;
        }

        this.LoadChart(this.stateFromTime.date, this.stateToTime.date);
         this.LoadChartProduct(this.stateFromTime.date, this.stateToTime.date);
      },
      convert: function (d) {
        return (
          d.constructor === Date ? d :
            d.constructor === Array ? new Date(d[0], d[1], d[2]) :
              d.constructor === Number ? new Date(d) :
                d.constructor === String ? new Date(d) :
                  typeof d === "object" ? new Date(d.year, d.month, d.date) :
                    NaN
        );
      },
      Compare: function (a, b) {
        //  -1 : if a < b
        //   0 : if a = b
        //   1 : if a > b
        return (
          isFinite(a = this.convert(a).valueOf()) &&
            isFinite(b = this.convert(b).valueOf()) ?
            (a > b) - (a < b) :
            NaN
        );


        ////////////////////////Tham khảo///////////////////
        //dates: {
        //  //Hàm covert , so sánh, khoảng tham khảo trên mạng
        //  convert: function (d) {
        //    // Converts the date in d to a date-object. The input can be:
        //    //   a date object: returned without modification
        //    //  an array      : Interpreted as [year,month,day]. NOTE: month is 0-11.
        //    //   a number     : Interpreted as number of milliseconds
        //    //                  since 1 Jan 1970 (a timestamp)
        //    //   a string     : Any format supported by the javascript engine, like
        //    //                  "YYYY/MM/DD", "MM/DD/YYYY", "Jan 31 2009" etc.
        //    //  an object     : Interpreted as an object with year, month and date
        //    //                  attributes.  **NOTE** month is 0-11.
        //    return (
        //      d.constructor === Date ? d :
        //        d.constructor === Array ? new Date(d[0], d[1], d[2]) :
        //          d.constructor === Number ? new Date(d) :
        //            d.constructor === String ? new Date(d) :
        //              typeof d === "object" ? new Date(d.year, d.month, d.date) :
        //                NaN
        //    );
        //  },
        //  compare: function (a, b) {
        //    // Compare two dates (could be of any type supported by the convert
        //    // function above) and returns:
        //    //  -1 : if a < b
        //    //   0 : if a = b
        //    //   1 : if a > b
        //    // NaN : if a or b is an illegal date
        //    // NOTE: The code inside isFinite does an assignment (=).
        //    return (
        //      isFinite(a = this.convert(a).valueOf()) &&
        //        isFinite(b = this.convert(b).valueOf()) ?
        //        (a > b) - (a < b) :
        //        NaN
        //    );
        //  },
        //  inRange: function (d, start, end) {
        //    // Checks if date in d is between dates in start and end.
        //    // Returns a boolean or NaN:
        //    //    true  : if d is between start and end (inclusive)
        //    //    false : if d is before start or after end
        //    //    NaN   : if one or more of the dates is illegal.
        //    // NOTE: The code inside isFinite does an assignment (=).
        //    return (
        //      isFinite(d = this.convert(d).valueOf()) &&
        //        isFinite(start = this.convert(start).valueOf()) &&
        //        isFinite(end = this.convert(end).valueOf()) ?
        //        start <= d && d <= end :
        //        NaN
        //    );
        //  }
        //},
      },
      ExportExel: function (fromDate, endDate) {
        debugger;
        let seft = this;
        var currentDate = new Date();
        var month = currentDate.getUTCMonth() + 1; //months from 1-12
        var day = currentDate.getUTCDate();
        var year = currentDate.getUTCFullYear();

        var sDate =day + "-" + month + "-" + year;
        axios.post("/Chart/ExportExcel", { fromDate: this.stateFromTime.date, endDate: this.stateToTime.date }).then(res => {
          var element = document.createElement('a');
          element.setAttribute('href', 'data:application/vnd.ms-excel,' + encodeURIComponent(res.data));
          element.setAttribute('download', "Báo cáo doanh thu ngày: " + sDate);
          element.style.display = 'none';
          document.body.appendChild(element);
          element.click();

          HideLoadingBar();
        });
      },
      LoadCurrentWeek: function () {
        this.LoadChart("", "");
      this.LoadChartProduct("", "");
      }
    },

    mounted() {
      this.LoadChart("", "");
      this.LoadChartProduct("", "");
    },
    created() {
      ShowLoadingBar();
    },
    watch: {

    }
  }
</script>
<style>
  .highcharts-label text,
  .highcharts-axis-labels tspan {
    text-decoration: none !important;
  }

  .highcharts-drilldown-axis-label tspan {
    text-decoration: none !important;
  }
</style>
