<template>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title"> <i class="ion ion-clipboard"></i> Danh sách hóa đơn</h3>
    </div>

    <!-- /.box-header -->
    <div class="box-body">
      <div class="row">
        <div class="col-sm-4">
          <div class="form-group none-border-bottom">
            <Select2 v-model="idTable"
                     :options="listTable"
                       @select="selectTable($event)"
                     />
          </div>
        </div>
        <div class="col-sm-6">
          <div class="input-group input-group">
            <input type="text" placeholder="Tìm kiếm theo tên bàn hoặc tên nhân viên" class="form-control" v-model="keyword">
            <span class="input-group-btn">
              <button type="button" class="btn btn-info btn-flat">
                <i class="fa fa-search"></i>
              </button>
            </span>
          </div>
        </div>
        <div class="col-sm-2">
          <button type="submit" class="btn btn-info btn-flat pull-right" @click="ClearForm()">
            <i class="fa fa-close"></i>
            Hủy bộ lọc
          </button>
        </div>
      </div>
      <table id="list-product-category" class="table table-bordered table-striped table-hover">
        <thead>
          <tr>
            <th>STT</th>
            <th>Mã hóa đơn</th>
            <th>Tên bàn</th>
            <th>Thời gian</th>
            <th>Tổng tiền</th>
            <th>Giảm giá</th>
            <th>Khách đã trả</th>
            <th>Nhân viên thanh toán</th>
            <th class="text-right">Action</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="(item,index) in listBill">
            <td>{{index+1+skip}}</td>
            <td>
              {{item.BillID}}
            </td>
            <td>
              {{item.TableName}}
            </td>
            <td>
              {{ParseJsonDate(item.CreateTime)}}
            </td>
            <td>
              {{ConverPrice(item.Total," ₫")}}
            </td>
            <td>
              {{item.Bonus}}%
            </td>
            <td>
              {{ConverPrice(item.TotalAmount," ₫")}}
            </td>
            <td> {{item.FullName}} </td>

            <td class="text-right">
              <button class="btn btn-info" @click="openModalView(item)">
                <i class="fa fa-eye"></i>
              </button>

            </td>
          </tr>
        </tbody>
      </table>
      <div class="text-right">
        <Paginate v-model="page"
                  :page-count="totalPage"
                  :prev-text="'Prev'"
                  :next-text="'Next'"
                  :page-range="3"
                  :margin-pages="2"
                  :container-class="'pagination'"
                  :page-class="'page-item'"
                  :prev-class="'page-item'"
                  :next-class="'page-item'"
                  :page-link-class="'page-link'"
                  :prev-link-class="'page-link'"
                  :next-link-class="'page-link'"
                  :click-handler="changePage">
        </Paginate>
      </div>
    </div>
    <!-- /.box-body -->
    <!-- Modal sản phẩm con -->
    <div class="modal fade" id="modal-edit" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Chi tiết hóa đơn</h4>
          </div>
          <div class="modal-body">


            <!-- /.box-header -->
            <div class="box-body no-padding">
              <table class="table table-striped">
                <tbody>
                  <tr>
                    <th style="width: 10px">STT</th>
                    <th>Tên sản phẩm</th>
                    <th>Số lượng</th>
                    <th>Tổng tiền</th>
                  </tr>
                  <tr v-for="(item,index) in listBillDetails" v-bind:key="index">
                    <td>{{index+1}}</td>
                    <td>{{item.FoodName}}</td>
                    <td>{{item.Quantity}}</td>
                    <td>{{ConverPrice(item.Amount, " đ")}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->

          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
  import Paginate from 'vuejs-paginate'
  import EventBus from "../EventBus";
  import Select2 from "v-select2-component";
  import axios from "axios";
  export default {
    components: { Paginate, Select2 },
    data() {
      return {
        totalPage: 0,
        page: 1,
        skip: 0,
        listBill: [],
        fromDate: "",
        endDate: "",
        keyword:"",
        listTable: [{ id: 0, text: "Tất cả các bàn" }],
        person: 0,
        totalQuantityItem: 0,
        idTable: 0,
        listBillDetails: []
      }
    },
    methods: {
      SearchBill: function (tableID, keyword, fromTime, toTime, page = 1) {
        let seft = this;
        let data = { tableID: tableID, keyword: keyword, fromTime: fromTime, toTime: toTime, page: page };
        axios.post("/search-bill", data).then(res => {
          seft.skip = res.data.skip;
          seft.totalPage = res.data.totalPage;
          seft.listBill = res.data.result;
          HideLoadingBar();
        })
      },
      GetAllTable: function () {
        let seft = this;
        axios.get("/TableFood/getAllTable").then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.TableID;
            model["text"] = item.TableName;
            seft.listTable.push(model);
          });
        });
      },
      selectTable: function (item) {
        this.SearchBill(item.id, this.keyword, this.fromDate, this.endDate, 1);
      },
      changePage(pageNum) {
        this.SearchBill(this.idTable, this.keyword ,this.fromDate, this.endDate, pageNum);
      },
      ConverPrice: (price, type) => {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      openModalView: function(item) {
        let seft = this;
        axios.get("/get-bill-detail/" + item.BillID).then(res => {
          this.listBillDetails = res.data;
          $("#modal-edit").modal("show");
        });
      },
      ParseJsonDate: (jsonDate) => {
        return DateTimeFormat.GetDateTime(jsonDate);
      },
      TotalPrice: (total, bonus) => {
        return (total * 10) / (10 - bonus / 10);
      },
      ClearForm: function () {
        this.idTable = 0;
        this.keyword = "";
        this.SearchBill(0, "", "", "", 1);
      }
    },
    created() {
      ShowLoadingBar();
      this.GetAllTable();
      this.SearchBill(0, "", "", "", 1);

      let seft = this;
      EventBus.$on("searchBill", res => {
        seft.fromDate = res.fromDate;
        seft.endDate = res.endDate;
        seft.SearchBill(seft.idTable, seft.keyword, res.fromDate, res.endDate, 1);
      });
    },
    watch: {
      keyword: function (newVal, oldVal) {
        this.SearchBill(this.idTable, newVal, "", "", 1);
      }
    }
  }
</script>
