<template>
  <div class="wrapper">
    <!-- Header -->
    <header class="main-header">

      <a href="/#/" class="logo">
        <span class="logo-mini"><b><i class="fa fa-home"></i></b></span>
        <span class="logo-lg"><b>Trang quản lý</b></span>
      </a>
      <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
          <span class="sr-only">Toggle navigation</span>
        </a>
        <div class="navbar-custom-menu">
          <ul class="nav navbar-nav">
            <li class="dropdown notifications-menu">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
                <i class="fa fa-bell-o"></i>
                <span class="label label-danger">{{countNewHistory}}</span>
              </a>
              <ul class="dropdown-menu">
                <li class="header">Thông báo từ hệ thống</li>
                <li>

                  <ul class="menu">
                    <li v-for="item in dataHistory" :class="item.Status==false?'active':''">
                      <a href="#">

                        <template v-if="item.Description=='edit'|| item.Description=='add'">
                          <b >{{item.FullName}}</b> đã {{item.Description=='edit'?'cập nhật số lượng order từ '+item.OldQuantity +' thành ':'order'}}
                          {{item.NewQuantity}}
                          {{item.FoodName}}
                          tại bàn số {{item.TableID}}
                          <p style="margin-bottom:0!important">
                            <i class="fa fa-clock-o text-warning"></i>
                            <small>({{ParseTime(item.CreateTime)}})</small>
                          </p>
                        </template>
                        <template v-if="item.Description=='change'">
                          <b>{{item.FullName}}</b> đã chuyển bàn số {{item.TableID}} qua bàn số {{item.NewTableID}}
                          <p style="margin-bottom:0!important">
                            <i class="fa fa-clock-o text-warning"></i>
                            <small>({{ParseTime(item.CreateTime)}})</small>
                          </p>
                        </template>

                        <template v-if="item.Description=='general'">
                          <b>{{item.FullName}}</b> đã gộp bàn số {{item.TableID}} qua bàn số {{item.NewTableID}}
                          <p style="margin-bottom:0!important">
                            <i class="fa fa-clock-o text-warning"></i>
                            <small>({{ParseTime(item.CreateTime)}})</small>
                          </p>
                        </template>

                        <template v-if="item.Description=='payment'">
                          <b>{{item.FullName}}</b> đã thanh toán bàn số {{item.TableID}}
                          <p style="margin-bottom:0!important">
                            <i class="fa fa-clock-o text-warning"></i>
                            <small>{{ParseTime(item.CreateTime)}}</small>
                          </p>
                        </template>

                      </a>
                    </li>
                  </ul>
                </li>
                <li class="footer">
                  <router-link to="/noti-history"
                               exact>Xem tất cả</router-link>
                </li>
              </ul>
            </li>

            <li class="dropdown">
              <a href="#" id="eval-clock">content</a>
            </li>
            <li class="dropdown user user-menu">

              <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                <img src="/wwwroot/dist/img/user-login-icon-29.png" class="user-image" alt="User Image">
                <span class="hidden-xs">{{account.FullName}} </span>
              </a>
              <ul class="dropdown-menu">
                <!-- User image -->
                <li class="user-header">
                  <img src="/wwwroot/dist/img/user-login-icon-29.png" class="img-circle" alt="User Image">
                  <p>
                    {{account.FullName}}
                    <small>{{account.Email}}</small>
                  </p>
                </li>
                <!-- Menu Footer-->
                <li class="user-footer">

                  <div class="pull-right">
                    <a href="/Home/Logout" class="btn btn-default btn-flat">Đăng xuất</a>
                  </div>
                </li>
              </ul>

            </li>
          </ul>
        </div>
      </nav>
    </header>
    <!-- Menu Left -->
    <aside class="main-sidebar">

      <section class="sidebar">
        <div class="user-panel">
          <div class="pull-left image">
            <img src="/wwwroot/dist/img/user-login-icon-29.png" class="img-circle" alt="User Image">
          </div>
          <div class="pull-left info">
            <p> {{account.FullName}}</p>
            <a href="#"><i class="fa fa-circle text-success"></i>{{account.AccountMainTitle}}</a>
          </div>
        </div>
        <ul class="sidebar-menu" data-widget="tree">
          <li class="header">Thanh chức năng</li>
          <li v-for="(item,index) in listMenu" :class="{treeview:item.Name =='report'}">
            <router-link tag="a"
                         :to="{ name: item.Name, path:item.Path}"
                         class="small-box-footer"
                         active-class="active"
                         exact
                         v-if="item.Name !='report'">
              <i :class="item.Icon"></i>
              <span>{{item.Title}}</span>
              <span class="pull-right-container" v-if="item.Name =='report'">
                <i class="fa fa-angle-left pull-right"></i>
              </span>
            </router-link>

            <a href="#" class="small-box-footer" v-else>
              <i :class="item.Icon"></i>
              <span>{{item.Title}}</span>
              <i class="fa fa-angle-left pull-right"></i>
            </a>
            <ul class="treeview-menu menu-open" v-if="item.Name =='report'">
              <li>
                <router-link to="/report-revenue"
                             class="small-box-footer"
                             exact><i class="fa fa-circle-o"></i><span>Doanh thu &amp; lợi nhuận</span></router-link>
              </li>
              <li>
                <router-link to="/import-history"
                             class="small-box-footer"
                             exact><i class="fa fa-circle-o"></i><span>Thống kê nhập</span></router-link>
              </li>
              <li>
                <router-link to="/bill-manager"
                             class="small-box-footer"
                             exact><i class="fa fa-circle-o"></i><span>Thống kê hóa đơn</span></router-link>
              </li>
            </ul>


          </li>
        </ul>
      </section>
    </aside>
    <!-- =======router view========= -->
    <router-view></router-view>
    <!--Loading-->
    <!-- /.content-wrapper -->
    <footer class="main-footer">
      <div class="pull-right hidden-xs">
        <b>2019</b>
      </div>
      <strong>Trang quản lý</strong>
    </footer>
    <div class="control-sidebar-bg"></div>
  </div>
</template>

<script>
  import EventBus from "./EventBus";
  import axios from "axios";
  export default {
    data() {
      return {
        listMenu: [],
        account: {},
        dataHistory: [],
        countNewHistory:0,
      }
    },
    methods: {
      GetAllMenu: function () {
        axios.get("/Menu/GetAllMenu").then(res => {
          this.listMenu = res.data;
          console.log(this.listMenu);
        });
      },
      CheckLogin: function () {
        axios.get("/Login/GetAccountLogin").then(res => {
          if (res.data.isSessionLogin == true) {
            this.account = res.data.Account;
          }
          else {
            window.location.href = "/Login";
          }
        });
      },
      LoadHistory: function () {
        axios.get("/OrderHistory/GetDataHistory").then(res => {
           console.log("=====>History====>");
          console.log(res.data);
          this.dataHistory = res.data.result;
          this.countNewHistory = res.data.coutNewHistory;
        });
      },
      ParseTime: function (datetime) {
        return JSONDateWithTime(datetime)
      }
    },
    updated() {
      document.title = this.$route.meta.title;
    },
    created() {
      this.CheckLogin();
      this.GetAllMenu();
       this.LoadHistory();
      EventBus.$on("loadHistory", res => {
        this.LoadHistory();
      });
    }
  };
</script>
<style scoped>
  a {
    text-decoration: none;
    padding: 5px;
  }

    a.active {
      background-color: #3aa1dd!important;
      color: #fff;
    }

  .sidebar-menu:hover a.active {
    background-color: #3c8dbcc7;
    color: #fff;
  }
</style>

