
@{
  /**/

  ViewBag.Title = "Danh sách bàn ăn";
  Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- Content Header (Page header) -->
<section class="content-header">
  <h1>
    Danh sách bàn ăn
  </h1>
  <ol class="breadcrumb">
    <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
    <li>Quản lý tin tức</li>
    <li class="active">Danh sách danh mục tin tức</li>
  </ol>
</section>
<!-- Main content -->
<section class="content">
  <div class="row">
    <div class="col-md-12">
      <!-- /.box-header -->
      <!-- form start -->
      <div role="form">
        <div class="box-body">
          <!-- Danh sách bàn ăn -->
          <div class="row">
            <div class="col-md-12">
              <div class="box box-info">
                @*<div id="main-loading-delay">
                    <div class="lds-ripple"><div></div><div></div></div>
                  </div>*@
                @*<div id="main-loading-delay">
                    <div class="loading-delay" style="display: block;">
                      <div class="loading-bar"></div>
                      <div class="loading-bar"></div>
                      <div class="loading-bar"></div>
                      <div class="loading-bar"></div>
                    </div>
                  </div>*@

                @* Loading Table in VueJs *@
                @*<div id="list-table-food">
                    <table-list-component></table-list-component>
                  </div>*@
                <div id="app">
                </div>

              </div>
            </div>

            <!-- All-Modal -->
            <!-- Modal detail table food-->
            @* RenderModal in VueJS *@
            @*<div id="modal-table-detail">
                <table-detail-component></table-detail-component>
              </div>*@


          </div>
        </div>

      </div>
    </div>
  </div>
</section>
<!-- /.content -->

@section scripts{
  <script src="~/Assets/vue/main.js"></script>
}
