@using Models.ViewModel
@using QuanLyBanHang.Helper
@using CodeUtility
@model BillPrintModel

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Chi tiết hóa đơn</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="stylesheet" href="/wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css">
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/wwwroot/bower_components/font-awesome/css/font-awesome.min.css">
  <!-- Ionicons -->
  <link rel="stylesheet" href="/wwwroot/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link rel="stylesheet" href="/wwwroot/dist/css/AdminLTE.min.css">

  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <!-- Google Font -->
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">
</head>
<body  onload="window.print();">
  <div class="wrapper">
    <!-- Main content -->
    <section class="invoice">
      <!-- info row -->
      <div class="row invoice-info">
        <div class="col-sm-4 invoice-col">
          <address>
            From:<strong> ABC Quán</strong>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          <address>
            To:<strong> Khách</strong>
          </address>
        </div>
        <!-- /.col -->
        <div class="col-sm-4 invoice-col">
          Mã hóa đơn:    <b>#@Model.BillID</b>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <!-- Table row -->
      <div class="row">
        <div class="col-xs-12 table-responsive">
          <table class="table table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Sản phẩm</th>
                <th>Đơn giá</th>
                <th width="50px">SL</th>
                <th>Thành tiền</th>
              </tr>
            </thead>
            <tbody>
              @{ int i =0;}
              @foreach (var item in Model.BillDetail)
              {
                <tr>
                  <td>@Html.Raw(++i)</td>
                  <td>@item.FoodName</td>
                  <td>@Commons.ConverPrice(item.Price.ToDouble())</td>
                  <td>@item.Quantity</td>
                  <td>@Commons.ConverPrice(item.Amount.ToDouble())</td>
                </tr>
              }


            </tbody>
          </table>
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
      <div class="row">
        <!-- accepted payments column -->
        <div class="col-xs-6">
          <p class="lead">Phương thức thanh toán:</p>
          <img src="/wwwroot/dist/img/credit/visa.png" alt="Visa">
          <img src="/wwwroot/dist/img/credit/mastercard.png" alt="Mastercard">
          <img src="/wwwroot/dist/img/credit/american-express.png" alt="American Express">
          <img src="/wwwroot/dist/img/credit/paypal2.png" alt="Paypal">
          <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
            Thanh toán qua thẻ ngân hàng để nhận được nhiều ưu đãi hơn.
          </p>
        </div>
        <!-- /.col -->
        <div class="col-xs-6">
          <p class="lead">Ngày In Hóa đơn: @Model.CreateTime.Value.ToString("dd/MM/yyyy | hh:mm:ss") </p>
          <div class="table-responsive">
            <table class="table">
              <tr>
                <th>Tổng cộng:</th>
                <td>@Commons.ConverPrice(Math.Ceiling(Model.Total.Value))</td>
              </tr>
              <tr>
                <th>Khuyến mãi:</th>
                <td>@Model.Bonus %</td>
              </tr>
              <tr>
                <th>Thành tiền:</th>
                <td>@Commons.ConverPrice(Model.TotalAmount.Value)</td>
              </tr>
              <tr>
                <th>Số tiền bằng chữ:</th>
                <td>@Commons.CurentcyNumberToText(Model.TotalAmount.ToDecimal())</td>
              </tr>
            </table>
          </div>
        </div>
        <!-- /.col -->
        <div class="col-xs-12">
          <p class="text-center">
            Xin chân thành cảm ơn và hẹn gặp lại quý khách!
          </p>
        </div>
      </div>
      <!-- /.row -->

    </section>
    <!-- /.content -->
  </div>

</body>
</html>
