@model Models.ViewModel.AccountModel
@{
  Layout = null;
}
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>Thẻ nhân viên</title>
  <link href="/wwwroot/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <link href="/wwwroot/css/AdminLTE.min.css" rel="stylesheet" />
  <link href="/wwwroot/css/style.css" rel="stylesheet" />
  <!-- jQuery 3 -->
  <script src="/wwwroot/Scripts/pages/jquery-3.3.1.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/wwwroot/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <script src="~/wwwroot/plugins/create-qr-code/qrcode.js"></script>
</head>
<body onload="print()">
  <div class="box-body box-profile" style="margin: auto auto">
    <input type="hidden" id="qr-value"  value="@Model.QRCodeHass" />
    <h3 class="profile-username text-center text-danger text-uppercase" style="margin-bottom:30px;    font-weight: bold;">Thẻ nhân viên</h3>
    <div id="qrcode" class="profile-user-img img-responsive img-rounded" style="width:100px; height:100px; margin-top:15px;"></div>
    <div class="clearfix"></div>
    <h3 class="profile-username text-center" style="margin-top:30px;">@Model.FullName</h3>

    <p class="text-muted text-center"> <b>(@Model.AccountMainTitle)</b></p>

  </div>
  <script>

    var valQr = $("#qr-value").val();
    var qrcode = new QRCode(document.getElementById("qrcode"), {
      width: 100,
      height: 100
    });

    qrcode.makeCode(valQr);
  </script>
  <style>
    #qrcode img{
      width:100%!important;
    }
  </style>
</body>
</html>

