<template>
  <div class="modal fade" id="modal-detail-table" ref="detailtable">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title">Thông tin chi tiết {{tableName}}</h4>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="form-group form-md-line-input">
              <label class="col-md-3 control-label bold text-capitalize text-right">Trạng thái</label>
              <div class="col-md-9">
                <label class="radio-inline">
                  <input type="radio"
                         id="no-status"
                         value="true"
                         v-model="status"
                         disabled="disabled">
                  Đã có khách
                </label>
                <label class="radio-inline">
                  <input type="radio"
                         id="is-status"
                         value="false"
                         v-model="status"
                         disabled="disabled">
                  Bàn trống
                </label>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="form-group form-md-line-input none-border-bottom">
              <label class="col-md-3 control-label bold text-capitalize text-right">Bảng điều khiển</label>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-xs-12 form-group none-border-bottom">
                    <button type="button" class="btn btn-info btn-open-order">
                      <i class="fa fa-plus-square-o"></i>&nbsp;&nbsp;Order món
                    </button>
                    <button type="button"
                            class="btn btn-success btn-change-table"
                            :disabled="isDisbled">
                      <i class="fa fa-exchange"></i>&nbsp;&nbsp;Chuyển bàn
                    </button>
                    <button type="button"
                            class="btn btn-primary btn-general-table"
                            :disabled="isDisbled">
                      <i class="fa fa-refresh"></i>&nbsp;&nbsp;Gộp bàn
                    </button>
                    <button type="button" class="btn btn-warning btn-payment" :disabled="isDisbled">
                      <i class="fa fa-bitcoin"></i>&nbsp;&nbsp;Thanh toán
                    </button>
                  </div>
                  <!-- Box border thêm món -->
                  <div class="box-order form-group">
                    <div class="none-border-bottom" v-if="false">
                      <div class="col-xs-4">
                        <Select2 v-model="idFoodType"
                                 :options="listFoodType"
                                 @change="getListFood($event)"
                                 @select="selectFoodType($event)"
                                 style="width:100%" />
                      </div>
                      <div class="col-xs-4">
                        <Select2 v-model="idFood"
                                 :options="listFood"
                                 @select="selectFood($event)"
                                 style="width:100%" />
                      </div>
                      <div class="col-xs-2">
                        <input type="text"
                               class="form-control"
                               placeholder="SL"
                               v-model="quantitySelect">
                      </div>
                      <div class="col-xs-2">
                        <button type="button"
                                @click="AddOrderSelect()"
                                class="btn btn-info form-control">
                          Thêm
                        </button>
                      </div>
                    </div>

                    <div class="form-group none-border-bottom">
                      <div class="col-xs-12">
                        <label>Tìm món nhanh:</label>
                      </div>
                      <div class="col-xs-4">
                        <Select2 v-model="idFastFood"
                                 :options="listFastFood"
                                 @select="selectFastFood($event)"
                                 style="width:100%" />
                      </div>
                      <div class="col-xs-4">
                        <input type="text"
                               class="form-control"
                               placeholder="Ghi chú thêm"
                               v-model="description">
                      </div>
                      <div class="col-xs-2">
                        <input type="text"
                               class="form-control"
                               placeholder="SL"
                               v-model="quantityFastFood">
                      </div>

                      <div class="col-xs-2">
                        <button class="btn btn-info form-control" @click="AddOrderFastFood()">Thêm</button>
                      </div>
                    </div>

                    <div class="col-xs-12">
                      <div class="box box-none-border none-boxshadow">
                        <!--<div class="box-header with-border">
                          <label class="box-title">Danh sách Order</label>
                        </div>-->
                        <!-- /.box-header -->
                        <!--<div class="callout callout-warning" v-if="listFoodDetail.length<=0">
                          <h4>Chưa có dữ liệu Order!</h4>

                          <p>Bạn vui lòng Order thêm các món mới .</p>
                        </div>-->
                        <div class="box-body" v-if="listFoodDetail.length>0">
                          <table class="table table-bordered">
                            <tbody>
                              <tr>
                                <th style="width: 10px">#</th>
                                <th>Tên món</th>
                                <th>Số lượng</th>
                                <th>Tổng cộng</th>
                                <th style="width: 40px">Action</th>
                              </tr>
                              <tr v-for="(item,index) in listFoodDetail" :key="index">
                                <td>{{index+1}}</td>
                                <td>{{item.FoodName}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{ConverPrice(item.Amount,"₫")}}</td>
                                <td>
                                  <div class="text-nowrap">
                                    <button class="btn btn-info" @click="EditFood(item)">
                                      <i class="fa fa-pencil-square-o"></i>
                                    </button>
                                    <button class="btn btn-danger" @click="RemoveFood(item.FoodID)">
                                      <i class="fa fa-trash-o"></i>
                                    </button>
                                  </div>
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.box-body -->
                      </div>
                      <!-- /.box -->
                    </div>
                  </div>
                  <!-- Box border thêm món -->
                  <!-- Box chuyển bàn -->
                  <div class="box-change-table form-group" style="display:none" v-if="!isDisbled">
                    <div class="col-xs-3">
                      <select class="form-control select2"
                              style="width: 100%;"
                              disabled="disabled"
                              v-model="idTableCurrent">
                        <option v-for="(itemTable,index) in listTable"
                                :value="itemTable.id"
                                v-bind:key="index">
                          {{itemTable.text}}
                        </option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-success" @click="ChangeTable()">
                        <i class="fa fa-lg fa-exchange"></i>&nbsp;&nbsp;
                        Chuyển bàn
                      </button>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control select2"
                              style="width: 100%;"
                              v-model="idTableChange">
                        <option v-for="(itemTable,index) in listTableEmpty"
                                :value="itemTable.id"
                                v-bind:key="index">
                          {{itemTable.text}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Box gộp bàn -->
                  <div class="box-general-table form-group" style="display:none" v-if="!isDisbled">
                    <div class="col-xs-3">
                      <select class="form-control select2"
                              style="width: 100%;"
                              disabled="disabled"
                              v-model="idTableCurrent">
                        <option v-for="(itemTable,index) in listTable"
                                :value="itemTable.id"
                                v-bind:key="index">
                          {{itemTable.text}}
                        </option>
                      </select>
                    </div>
                    <div class="col-xs-3">
                      <button class="btn btn-primary form-control" @click="GeneralTable()">
                        <i class="fa fa-lg fa-refresh"></i>&nbsp;&nbsp;
                        Gộp bàn
                      </button>
                    </div>
                    <div class="col-xs-3">
                      <select class="form-control select2"
                              style="width: 100%;"
                              v-model="idTableGeneral">
                        <option v-for="(itemTable,index) in listTableNotEmpty"
                                :value="itemTable.id"
                                v-bind:key="index">
                          {{itemTable.text}}
                        </option>
                      </select>
                    </div>
                  </div>

                  <!-- Box thanh toán -->
                  <div class="box-payment form-group none-border-bottom"
                       style="display:none"
                       v-if="!isDisbled">
                    <!-- Main content -->
                    <section class="invoice">
                      <!-- info row -->
                      <!-- /.row -->
                      <!-- Table row -->
                      <div class="row">
                        <div class="col-xs-12 table-responsive">
                          <table class="table table-striped">
                            <thead>
                              <tr>
                                <th>STT</th>
                                <th>Sản phẩm</th>
                                <th>Đơn giá</th>
                                <th width="50px">SL</th>
                                <th>Thành tiền</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr v-for="(item,index) in listFoodDetail" v-bind:key="index">
                                <td>{{index+1}}</td>
                                <td>{{item.FoodName}}</td>
                                <td>{{ConverPrice((item.Amount/item.Quantity)," ₫")}}</td>
                                <td>{{item.Quantity}}</td>
                                <td>{{ConverPrice(item.Amount," ₫")}}</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                      <div class="row">
                        <!-- accepted payments column -->
                        <!-- /.col -->
                        <div class="col-xs-12">
                          <label class="box-title text-yellow">Chi tiết thanh toán:</label>
                          <dl class="dl-horizontal">
                            <dt>Tổng cộng:</dt>
                            <dd>
                              <b class="text-primary">{{ConverPrice(tableTotalPrice," ₫")}}</b>
                            </dd>
                            <dt>Giảm giá (%):</dt>
                            <dd>
                              <input class="form-bonus"
                                     type="text"
                                     v-model="bonus">
                              <small>(Nhập % giảm giá nếu có)</small>
                            </dd>
                            <dt>Thành tiền:</dt>
                            <dd>
                              <b class="text-primary">{{ConverPrice(tableTotalPriceLast," ₫")}}</b>
                            </dd>
                            <dt>Số tiền bằng chữ:</dt>
                            <dd>
                              <b class="text-primary">{{ConverPriceToText(tableTotalPriceLast)}}</b>
                            </dd>
                          </dl>
                        </div>
                        <!-- /.col -->
                      </div>
                      <!-- /.row -->
                      <!-- this row will not appear when printing -->
                      <div class="row no-print">
                        <div class="col-xs-12">
                          <button type="button"
                                  class="btn btn-info pull-right"
                                  @click="Payment(true)">
                            <i class="fa fa-lg fa-print"></i>Thanh toán + In hóa đơn
                          </button>
                          <button type="button"
                                  class="btn btn-warning pull-right"
                                  style="margin-right:15px"
                                  @click="Payment(false)">
                            <i class="fa fa-lg fa-bitcoin"></i> &nbsp;Thanh toán tiền mặt
                          </button>
                          <!-- <button
                            type="button"
                            class="btn btn-success pull-right"
                            style="margin-right:5px"
                          >
                            <i class="fa fa-credit-card"></i>&nbsp;&nbsp; Thanh toán Online
                          </button>-->
                        </div>
                      </div>
                    </section>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
</template>
<script>
  import axios from "axios";
  import Select2 from "v-select2-component";
  import EventBus from "../EventBus";
  export default {
    components: { Select2 },
    data() {
      return {
        tableID: 0,
        tableTotalPrice: 0,
        tableTotalPriceLast: 0,
        bonus: 0,
        status: false,
        listFoodType: [{ id: 0, text: "Chọn loại" }],
        listFood: [{ id: 0, text: "Chọn món" }],
        listFastFood: [{ id: 0, text: "Chọn món" }],
        listTable: [{ id: 0, text: "Chọn bàn" }],
        listTableEmpty: [{ id: 0, text: "Chọn bàn" }],
        listTableNotEmpty: [{ id: 0, text: "Chọn bàn" }],
        idFoodType: 0,
        idFood: 0,
        idFastFood: 0,
        idTableCurrent: 0,
        idTableChange: 0,
        idTableGeneral: 0,
        quantitySelect: 1,
        quantityFastFood: 1,
        tableName: "",
        listFoodDetail: [],
        isDisbled: true,
        description: ""
      };
    },
    methods: {
      getFoodType: function () {
        let seft = this;
        this.listFoodType = [{ id: 0, text: "Tất cả loại" }];
        axios.get("/FoodType/GetAllFoodType").then(res => {
          let data = res.data;
          data.map(item => {
            let model = [];
            model["id"] = item.FoodTypeID;
            model["text"] = item.Name;
            this.listFoodType.push(model);
          });
        });
      },
      getListFood: function (idFoodType) {
        this.listFood = [{ id: 0, text: "Chọn món" }];
        let seft = this;
        axios.get("/food-by-type/" + idFoodType).then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.FoodID;
            model["text"] = item.FoodName;
            this.listFood.push(model);
          });

          this.idFood = 0;
        });
      },
      getAllFood: function () {
        this.listFastFoodtFood = [{ id: 0, text: "Chọn món nhanh" }];
        let seft = this;
        axios.get("/get-all-food").then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.FoodID;
            model["text"] = item.FoodName;
            this.listFastFood.push(model);
          });
        });
      },
      selectFoodType: function ({ id, text }) {
        this.idFoodType = id;
        if (this.idFoodType == 0) {
          this.listFood = [{ id: 0, text: "Chọn món" }];
          let seft = this;
          axios.get("/Food/GetAllFood/").then(res => {
            let data = res.data;

            data.map(item => {
              let model = [];
              model["id"] = item.FoodID;
              model["text"] = item.FoodName;
              this.listFood.push(model);
            });
          });
        }
      },
      selectFood: function ({ id, text }) {
        this.idFood = id;
      },
      selectFastFood: function ({ id, text }) {
        this.idFoodType = 0;
        this.idFood = 0;
        this.quantitySelect = 1;
        this.idFastFoodFood = id;
      },
      AddOrderSelect: function () {
        if (this.idFoodType <= 0) {
          Alert("Error", "fa fa-frown-o", "red", "Vui lòng chọn loại món ăn");
          return;
        }
        if (this.idFood <= 0) {
          Alert("Error", "fa fa-frown-o", "red", "Vui lòng chọn món ăn");
          return;
        }
        if (this.quantitySelect < 1) {
          Alert(
            "Error",
            "fa fa-frown-o",
            "red",
            "Vui lòng chọn số lượng mòn ăn lơn hơn 1"
          );
          return;
        }
        this.Order(this.tableID, this.idFood, this.quantitySelect);
      },
      AddOrderFastFood: function () {
        if (this.idFastFood <= 0) {
          Alert("Error", "fa fa-frown-o", "red", "Vui lòng chọn món ăn");
          return;
        }
        if (this.quantityFastFood < 1) {
          Alert(
            "Error",
            "fa fa-frown-o",
            "red",
            "Vui lòng chọn số lượng món ăn lớn hơn 1"
          );
          return;
        }
        this.Order(this.tableID, this.idFastFoodFood, this.description, this.quantityFastFood);
      },
      Order: function (tableID, idFood, description, quantity) {
        let seft = this;
        axios
          .post("/order-food", {
            tableID: tableID,
            idFood: idFood,
            description: description,
            quantity: quantity
          })
          .then(res => {
            if (res.data.statusFood == -1) {
              Alert(
                "Warning",
                "fa fa-frown-o",
                "red",
                "Sản phẩm trong kho chỉ còn <b>" +
                res.data.quantity +
                "</b> sản phẩm! Vui lòng giảm số lượng sản phẩm xuống"
              );
              return;
            } else if (res.data.statusFood == -2) {
              Alert(
                "Warning",
                "fa fa-frown-o",
                "red",
                "Đơn hàng bạn vừa order đã hết! Vui lòng chọn sản phẩm khác"
              );
              return;
            } else if (res.data.statusFood == 0) {
              Alert(
                "Error",
                "fa fa-frown-o",
                "red",
                "Sản phẩm bạn vừa order không tồn tại! Vui lòng chọn sản phẩm khác"
              );
              return;
            } else {
              seft.idFastFood = 0;
              seft.description = "";
              seft.quantityFastFood = 1;
              EventBus.$emit("isLoadListTable", { isLoadTable: true });
              EventBus.$emit("loadHistory", true);

              seft.ShowListFoodDetail(res.data.result.TableFoodID);
              alertify.success("Bạn đã order sản phẩm thành công.");
            }
          });
      },
      ShowListFoodDetail: function (idTable) {
        let seft = this;
        axios.get("/order-detail/" + idTable).then(res => {
          seft.listFoodDetail = res.data;
          seft.status = seft.listFoodDetail.length > 0 ? true : false
          this.CheckDataOrderTable();
        });
      },
      RemoveFood: function (idFood) {
        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa sản phẩm",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có muốn xóa sản phẩm không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios
                  .post("xoa-order", { idTable: seft.tableID, idFood: idFood })
                  .then(res => {
                    if (res.data == true) {
                      EventBus.$emit("isLoadListTable", { isLoadTable: true });
                      seft.ShowListFoodDetail(seft.tableID);
                      //Hiển thị thông báo

                      AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã xóa thành công!", "green");
                      seft.CheckDataOrderTable();
                    } else {

                      AlertBasic("fa fa-frown-o", "Xóa thất bại", "Vui lòng thử lại!", "red");

                    }
                  });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });
      },
      EditFood: function (food) {
        let seft = this;

        $.confirm({
          icon: "fa  fa-pencil-square-o",
          title: "Chỉnh sửa order!",
          theme: "modern",
          content:
            "" +
            '<form action="" class="formName">' +
            '<div class="form-group">' +
            "<label>Tên sản phẩm</label>" +
            '<input type="text" placeholder="Tên sản phẩm" class="name form-control" value="' +
            food.FoodName +
            '" disabled="disabled"/>' +
            "</div>" +
            '<div class="form-group">' +
            "<label>Số lượng</label>" +
            '<input type="text" placeholder="Số lượng" class="quantity-update form-control" value="' +
            food.Quantity +
            '"/>' +
            "</div>" +
            "</form>",
          buttons: {
            formSubmit: {
              text: "Cập nhật",
              btnClass: "btn-orange",
              action: function () {
                var quantity = this.$content.find(".quantity-update").val();
                if (!quantity) {
                  $.alert("Vui lòng nhập số lượng");
                  return false;
                }

                axios
                  .post("/update-quantity-food-detail", {
                    idTable: seft.tableID,
                    idFood: food.FoodID,
                    quantity: quantity
                  })
                  .then(res => {
                    if (res.data.isUpdate == 1) {
                      seft.ShowListFoodDetail(seft.tableID);
                      EventBus.$emit("isLoadListTable", { isLoadTable: true });

                      AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã cập nhật số lượng thành công!", "green");


                      seft.CheckDataOrderTable();
                    } else {
                      AlertBasic("fa fa-frown-o", "Error", "Số lượng sản phẩm trong kho + với sản phẩm bạn đã order chỉ còn " +
                        res.data.quantity +
                        " sản phẩm! Vui lòng giảm số lượng xuống", "red");

                    }
                  });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          },
          onContentReady: function () {
            // bind to events
            var jc = this;
            this.$content.find("form").on("submit", function (e) {
              // if the user submits the form by pressing enter in the field.
              e.preventDefault();
              jc.$$formSubmit.trigger("click"); // reference the button and click it
            });
          }
        });
      },
      GetAllTable: function () {
        let seft = this;
        axios.get("/TableFood/getAllTable").then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.TableID;
            model["text"] = item.TableName;
            seft.listTable.push(model);
          });
        });
      },
      GetAllTableEmpty: function () {
        let seft = this;
        axios.get("/TableFood/getAllTableEmpty").then(res => {
          let data = res.data;
          data.map(item => {
            let model = [];
            model["id"] = item.TableID;
            model["text"] = item.TableName;
            seft.listTableEmpty.push(model);
          });
        });
      },
      GetAllTableNotEmpty: function () {
        let seft = this;
        axios.get("/TableFood/getAllTableNotEmpty").then(res => {
          let data = res.data;

          data.map(item => {
            let model = [];
            model["id"] = item.TableID;
            model["text"] = item.TableName;
            seft.listTableNotEmpty.push(model);
          });
        });
      },
      ChangeTable: function () {
        if (this.listFoodDetail.length == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Bàn hiện tại chưa có dữ liệu món ăn! Vui lòng đặt mới", "red");

          return;
        }

        if (this.idTableChange == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn bàn cần chuyển!", "red");

          return;
        }
        if (this.idTableChange == this.idTableCurrent) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn bàn khác bàn hiện tại!", "red");

          return;
        }
        let seft = this;
        axios
          .post("/change-table", {
            fromIDTable: this.idTableCurrent,
            toIDTable: this.idTableChange
          })
          .then(res => {
            if (res.data == true) {
              AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã chuyển bàn thành công!", "green");

                EventBus.$emit("loadHistory", true);
              //Load lại danh sách bàn
              EventBus.$emit("isLoadListTable", { isLoadTable: true });
              //Cập nhật lại bàn trống
              seft.idTableChange = 0;
              seft.listTableEmpty = [{ id: 0, text: "Chọn bàn" }];
              seft.listFoodDetail = [];
              seft.GetAllTableEmpty();

              this.CheckDataOrderTable();
            } else {
              AlertBasic("fa fa-frown-o", "Error", "Chuyển bàn thất bại! Vui lòng thử lại", "red");
              return;
            }
          });
      },
      GeneralTable: function () {
        let seft = this;
        if (this.listFoodDetail.length == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Bàn hiện tại chưa có dữ liệu món ăn! Vui lòng đặt mới", "red");
          return;
        }

        if (this.idTableGeneral == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn bàn cần gộp!", "red");
          return;
        }
        if (this.idTableGeneral == this.idTableCurrent) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn bàn khác bàn hiện tại!", "red");
          return;
        }
        axios
          .post("/general-table", {
            fromIDTable: this.idTableCurrent,
            toIDTable: this.idTableGeneral
          })
          .then(res => {
            if (res.data == true) {
              AlertBasic("fa fa-check", "Chúc mừng", "Bạn đã gộp bàn thành công!", "green");
                EventBus.$emit("loadHistory", true);
              //Load lại danh sách bàn
              EventBus.$emit("isLoadListTable", { isLoadTable: true });
              //Cập nhật lại bàn trống
              seft.idTableGeneral = 0;
              seft.listTableNotEmpty = [{ id: 0, text: "Chọn bàn" }];
              seft.listFoodDetail = [];
              seft.GetAllTableNotEmpty();

              seft.CheckDataOrderTable();
            } else {
              AlertBasic(
                "fa fa-frown-o",
                "Error",
                "Gộp bàn thất bại! Vui lòng thử lại",
                "red"
              );

              return;
            }
          });
      },
      Payment: function (isPrintBill) {
        ShowLoading();
        if (this.listFoodDetail.length == 0) {
          AlertBasic(
            "fa fa-frown-o",
            "Warning",
            "Bàn hiện tại chưa có dữ liệu món ăn để thanh toán!",
            "red"
          );

          return;
        }
        let seft = this;
        axios
          .post("/payment", { idTable: this.tableID, bonus: this.bonus })
          .then(res => {

            if (res.data.isPayment == true) {
              HideLoading(300, 0);
              AlertBasic(
                "fa fa-check",
                "Chúc mừng",
                "Bạn đã thanh toán bàn thành công!",
                "green"
              );
              seft.status = false;

                EventBus.$emit("loadHistory", true);
              EventBus.$emit("PrintBill", this.listFoodDetail);
              EventBus.$emit("isLoadListTable", { isLoadTable: true });
              seft.isDisbled = true;

              if (isPrintBill) {
                window.open("/print-bill/" + res.data.BillID, '_blank');
              }
            } else {
              AlertBasic(
                "fa fa-frown-o",
                "Rất tiếc",
                "Bạn chưa được thanh toán! Vui lòng thử lại",
                "red"
              );
            }
          });
      },
      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      },
      ConverPriceToText: function (value) {
        return numberToText(value);
      },
      CheckDataOrderTable: function () {
        let seft = this;
        if (seft.listFoodDetail.length > 0) {
          seft.isDisbled = false;
        } else {
          seft.isDisbled = true;
        }
      }
    },
    created() {
      let seft = this;

      seft.listFastFood = [{ id: 0, text: "Chọn món" }];
      seft.listFood = [{ id: 0, text: "Chọn món" }];
      seft.listTable = [{ id: 0, text: "Chọn bàn" }];

      //Call select
      this.getFoodType();
      seft.getAllFood();

      //Thanh toán
      seft.bonus = 0;
      //Init button
      EventBus.$on("dataBindTable", item => {
        seft.tableID = item.TableID;
        seft.tableName = item.TableName;
        seft.tableTotalPrice = item.Total;
        seft.tableTotalPriceLast = item.Total;
        item.Status == true ? (seft.status = true) : (seft.status = false);

        //Set default current
        seft.idFoodType = 0;
        seft.idFood = 0;
        seft.quantitySelect = 1;
        seft.idFastFood = 0;
        seft.quantityFastFood = 1;
        seft.idTableGeneral = 0;
        seft.idTableChange = 0;



        //Show Detail Foood
        seft.ShowListFoodDetail(item.TableID);

        //chuyển bàn
        seft.listTableEmpty = [{ id: 0, text: "Chọn bàn" }];
        seft.listTableNotEmpty = [{ id: 0, text: "Chọn bàn" }];
        seft.GetAllTable();
        seft.GetAllTableEmpty();
        //Gộp bàn
        seft.GetAllTableNotEmpty();
        seft.idTableCurrent = item.TableID;

        this.CheckDataOrderTable();
      });

      //remove select khi mở modal
    },
    watch: {
      listFoodDetail: function (newVal, oldVal) {
        this.tableTotalPrice = 0;
        newVal.map(item => {
          this.tableTotalPrice += item.Amount;
        });
        this.tableTotalPriceLast = this.tableTotalPrice;
      },
      bonus: function (newVal, oldVal) {
        if (newVal > 100) {
          this.bonus = 100;
        }
        if (newVal < 0) {
          this.bonus = 0;
        }
        this.tableTotalPriceLast =
          this.tableTotalPrice - (this.tableTotalPrice * newVal) / 100;
      }
    },
    mounted() {

      //Init button control
      ControlButton.Init();
      let seft = this;
      $("#modal-detail-table").on("hidden.bs.modal", function () {

        seft.listFoodDetail = [];

      });


    }
  };
</script>

<style>
</style>
