<template>
  <div class="content-wrapper">
    
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">
          <!-- Danh sách bàn ăn -->
          <div class="row">
            <div class="col-md-12">

              <div class="box-header with-border">
                <!--<button type="button"
                        class="btn btn-info pull-right"
                        data-toggle="modal"
                        data-target="#modal-add-table">
                  <i class="fa fa-plus-square"></i>
                  thêm bàn mới
                </button>-->
                <button type="button" class="btn btn-danger  pull-right m-r-5" @click="GetAllTableEmpty()">Bàn trống</button>
                <button type="button" class="btn btn-success pull-right m-r-5" @click="GetAllTableNotEmpty()">Đang sử dụng</button>
                <button type="button" class="btn btn-warning pull-right m-r-5" @click="LoadAllTable()">Tất cả</button>
              </div>
              <div class="box-body">
                <div class="row">
                  
                  <div class="col-xs-6 col-md-3" v-for="(item,index) in listTables" v-bind:key="index">
                    <!-- small box -->
                    <a href="javascript:void(0)"
                       @click="ShowDetalTable(item)"
                       class="small-box bg-table thisTable" :class="{tableActive: item.Status}">
                      <div class="inner item-table">
                        <p>{{item.TableName}}</p>
                        <p>
                          <span :class="item.Status ==true?'label label-success':'label label-danger'">{{item.Status ==true?'Đã có khách':'Bàn trống'}}</span>
                        </p>
                        <p>
                          <i class="fa fa-money"></i>&nbsp;
                          <span class="total">{{ConverPrice(item.Total," đ")}}</span>
                        </p>
                      </div>
                      <div class="icon">
                        <img src="/wwwroot/dist/img/table-green.png" style="width:70px"/>
                      </div>
                      <span class="small-box-footer">
                        {{item.Status ==true?'Xem thông tin':'Đặt bàn'}}
                        <i class="fa fa-plus-square"></i>
                      </span>
                    </a>
                  </div>
                </div>
              </div>

              <!-- Box add table -->
              <!-- Modal add table food -->
              <div id="modal-add-table" class="modal fade" style="display: none;">
                <div class="modal-dialog modal-sm">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                      <h4 class="modal-title">Thêm bàn mới</h4>
                    </div>
                    <form id="formInput" novalidate="novalidate">
                      <div class="modal-body">
                        <div class="box-body">
                          <div class="row">
                            <div class="form-group form-md-line-input">
                              <label class="col-md-12 control-label bold text-capitalize">Tên bàn ăn:</label>
                              <div class="col-md-12">
                                <input type="text" class="form-control" v-model="tableFoodName" placeholder="Nhập tên bàn ăn">
                              </div>
                            </div>
                            <div class="form-group form-md-line-input">
                              <label class="col-md-12 control-label bold text-capitalize">Vị trí:</label>
                              <div class="col-md-12">
                                <input type="text" class="form-control" v-model="position" placeholder="Nhập vị trí">
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-success" @click="AddTableFood()">Thêm</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                      </div>
                    </form>
                  </div>
                  <!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
              </div>
              <!-- Modal -->

            </div>

            <!-- All-Modal -->
            <!-- Modal detail table food-->

            <table-detail-component></table-detail-component>
          </div>
        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import axios from "axios";
  import Select2 from "v-select2-component";
  import EventBus from "../EventBus";
  import TableDetailComponent from "./TableDetailComponent.vue"
  import { setTimeout } from "timers";

  export default {
    components: {
      TableDetailComponent
    },
    data() {
      return {
        listTables: {},
        tableFoodName: "",
        position: "",
      };
    },
    methods: {
      LoadAllTable: function () {
        let seft = this;
        ShowLoadingBar();
        axios.get("/TableFood/getAllTable/").then(res => {
          seft.listTables = res.data;
          HideLoadingBar();
        });
      }
      ,
      GetAllTableEmpty: function () {

        let seft = this;
        ShowLoading();
        axios.get("/TableFood/getAllTableEmpty").then(res => {
          seft.listTables = res.data;
          HideLoading();
        });
      },
      GetAllTableNotEmpty: function () {

        let seft = this;
        ShowLoading();
        axios.get("/TableFood/getAllTableNotEmpty").then(res => {
          seft.listTables = res.data;
          HideLoading();
        });
      },
      ShowDetalTable: function (item) {
        $("#modal-detail-table").modal("show");

        axios.get("/TableFood/getTableByID/" + item.TableID).then(res => {
          EventBus.$emit("dataBindTable", res.data);
        });
      },
      AddTableFood: function () {
        if (this.tableFoodName == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập tên bàn ăn", "orange");
          return;
        }
        if (!this.IsInt(this.position)) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập vị trí là số và >= 0", "orange");
          return;
        }

        axios.post("/insert-table", { tableName: this.tableFoodName, position: this.position }).then(res => {
          if (res.data != null) {
            AlertBasic("fa fa-check", "Success", "Bàn ăn đã thêm thành công", "green");

            this.tableFoodName = "";
            this.position = "";

            $("#modal-add-table").modal("hide");
            this.LoadAllTable();
            return;
          }
          else {
            AlertBasic("fa fa-frown-o", "Error", "Lỗi hệ thống! Vui lòng thử lại", "red");
            return;
          }
        });
      },
      IsInt: function (num) {
        if (parseInt(num) == num) {
          return true;
        }
        return false;
      },

      ConverPrice: function (price, type) {
        if (price === null || price === 0) {
          return "0" + type;
        }
        price = price.toString();
        var n = price
          .split("")
          .reverse()
          .join("");
        var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
        return (
          n2
            .split("")
            .reverse()
            .join("") + type
        );
      }

    },
    created() {
      this.LoadAllTable();

      let seft = this;
      EventBus.$on("isLoadListTable", item => {
        if (item.isLoadTable == true) {
          seft.LoadAllTable();
        }
      });
    }
  };
</script>
