section.content .form-group {
  margin-bottom: 10px;
  width: 100%;
  float: left;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(128, 128, 128, 0.08);

}

  section.content .form-group label {
    padding-top: 7px;
  }

table thead tr {
  background-color: #bfe6ec;
  font-weight: bold;
  color: #213b48;
}

table.table-big tr td {
  vertical-align: middle;
}

table.table-big button, table.table-big a {
  width: 100%;
  float: left;
  margin-bottom: 10px;
  border-radius: 15px;
  text-align: left;
}

/*.modal-lg img {
    width: 100% !important;
    float: left;
}*/

.box .box-body .boxclick {
  padding: 5px;
  margin-bottom: 5px;
  border: 1px solid #808080;
  border-radius: 5px;
  background-color: rgba(128, 128, 128, 0.2);
  font: bold;
  font-weight: bold;
  text-transform: capitalize;
  font-size: 1em;
  width: 100%;
  float: left;
}

  .box .box-body .boxclick.active {
    border: 2.5px solid #04caf7;
    background-color: rgba(128, 128, 128, 0.09);
  }

  .box .box-header > button, .box .box-body .boxclick > button {
    font-size: 1em;
    padding: 2px 5px;
    text-transform: capitalize;
  }

  .box .box-body .boxclick > span {
    padding-top: 3px;
    padding-left: 5px;
    float: left;
  }

  .box .box-body .boxclick:hover {
    cursor: pointer;
    background-color: rgba(128, 128, 128, 0.05);
    border-color: #00c0ef;
  }


.login-box, .register-box {
  border-radius: 15px;
  background: rgba(0, 0, 0, 0.11);
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50%,-50%);
}

.login-box-soffware, .register-box-body {
  padding: 20px;
}

  .login-box-soffware .has-feedback input{
    border-radius:25px;
  }

  .login-box-soffware .title {
    font-weight: bold;
    color: #d4e3b1;
  }

  .login-box-soffware .btn-login {
    border-radius: 25px;
  }

.codesuccess {
  color: #fcfcfc;
  background-color: #1ca50b;
  font-weight: bold;
}

.codedanger {
  color: #fcfcfc;
  background-color: #e30404;
  font-weight: bold;
}

.select2-container .select2-selection--single {
  height: 34px !important;
  border: 1px solid #ccc !important;
  border-radius: 0 !important;
}

.box-none-border {
  border-top: none !important;
  margin-top: 15px;
}

.invoice {
  margin: 0 !important;
}

.form-group.none-border-bottom {
  border-bottom: none !important;
}

.none-boxshadow {
  box-shadow: none !important;
}

.m-r-5 {
  margin-right: 5px;
}

.content-wrapper {
  background-color: #fafafa !important;
}

.bg-table {
  background-color: #f9fbfc;
  color: #be4509;
  border-radius: 5px;
  border: 1px dashed #ba6e6e;
}

  .bg-table > .small-box-footer {
    position: relative;
    text-align: center;
    padding: 3px 0;
    color: rgba(55, 102, 5, 0.8);
    display: block;
    z-index: 10;
    background: rgba(0,0,0,0.1);
    font-weight: bold;
    text-decoration: none;
  }

    .bg-table > .small-box-footer:hover {
      color: rgba(55, 102, 5, 0.8);
      background: rgba(0,0,0,0.15);
    }

.tableActive {
  background-color: #fff4c2 !important;
}

.bg-table i{
  font-size:20px;
}

.bg-table:hover {
  text-decoration: none;
  color: #be4509 !important;
}



a.bg-table:focus {
  color: #be4509 !important;
}

.inner.item-table > p:first-child {
  font-size: 20px;
  font-weight: bold;
}

.inner.item-table .total {
  font-size: 20px;
  font-weight: bold;
}

.select2-container {
  width: 100% !important;
}

.form-bonus {
  background-color: #fff;
  background-image: none;
  border-bottom: 1px solid #ccc;
  padding-left: 5px;
  outline: none;
  box-shadow: none;
  border-width: 1px;
  border-top: none;
  border-right: 0;
  border-left: 0;
  width: 50px;
  text-align: center;
}

.dl-horizontal dd {
  margin-bottom: 12px;
}


/*#region loading delay */

/*Loading*/
#main-loading-delay {
  width: 100%;
  height: 100%;
  background-color: #2d2424;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 9998;
}

.lds-ripple {
  position: fixed;
  display: inline-block;
  width: 64px;
  height: 64px;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}

  .lds-ripple div {
    position: absolute;
    border: 4px solid #fff;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

    .lds-ripple div:nth-child(2) {
      animation-delay: -0.5s;
    }

@keyframes lds-ripple {
  0% {
    top: 28px;
    left: 28px;
    width: 0;
    height: 0;
    opacity: 1;
  }

  100% {
    top: -1px;
    left: -1px;
    width: 58px;
    height: 58px;
    opacity: 0;
  }
}

/*#endregion */

.content.max {
  height: 100% !important;
}

.boxclick {
  padding: 0 !important;
  position: relative;
}

.box-click-child {
  padding-top: 0;
  padding-left: 0;
  padding: 10px !important;
  width: 100%;
  height: 100%;
  display: block;
}

.input-btn-control {
  position: absolute;
  right: 4px;
  top: 3px;
  bottom: 0;
}

#dhtmltooltip {
  position: absolute;
  width: 150px;
  border: 2px solid black;
  padding: 2px;
  background-color: lightyellow;
  visibility: hidden;
  z-index: 100;
  /*Remove below line to remove shadow. Below line should always appear last within this CSS*/
  filter: progid:DXImageTransform.Microsoft.Shadow(color=gray,direction=135);
}

.cart-import {
  margin-top: 30px;
}

  .cart-import dt {
    width: 82% !important;
  }

  .cart-import dd {
    margin-left: 85% !important;
  }

    .cart-import dd.price {
      font-size: 17px;
      font-weight: bold;
      color: #cd1111;
    }

    .cart-import dd .btn-import {
      margin-top: 30px !important;
    }

.box-detail-import {
  position: fixed;

  width: 370px !important;
  z-index: 9999;
  transition: all .5s;
  right: -400px;
  bottom:0;
}

  .box-detail-import .box {
    margin-bottom: 0 !important;
  }

  .box-detail-import.showdetail {
    right: 30px !important;
    bottom: 0;
  }

.bggreen {
  background-color: #00a65a !important;
}

.bgred {
  background-color: #dd4b39 !important;
}

#eval-clock {
  color: #efea00;
  font-size: 15px;
}
.navbar-custom-menu a {
  font-weight: bold;
}

.text-bold{
  font-weight:bold;
}

.router-link-active {
  color: #00c0ef !important;
  font-weight: bold;
}

.modal-header {
  color: #ffffff;
  text-transform: uppercase;
  background-color: #4ebaf8 !important;
  box-shadow: 0 2px 4px rgba(3,3,3,.26);
  border-bottom-color: #f4f4f4;
  border-radius: 5px 5px 0 0;
}



.modal-report .box {
  cursor:pointer;
  float: left;
  text-transform: uppercase;
  width: 237px;
  height: 148px;
  margin: 36px 24px;
  text-align: center;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 4px 4px 15px rgba(150,150,150,1);
  padding-top: 18px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  position: relative;
  border: 2px solid #bdded6;
  border-bottom: 8px solid #bdded6;
  border-top: 3px solid #bdded6;
}

  .modal-report .box img {
    width: 72px;
    height: 72px;
  }
  .modal-report .box p {
    color: #53859e;
    padding-top: 20px;
  }
.modal-title {
  text-shadow: 4px 4px 15px rgba(150,150,150,1);
  font-weight: bold;
  color: #fff;
}


.modal-content {
  border-radius: 10px 10px 0 0;
}

.table-box {
  text-align: center;
  margin-bottom: 15px;
}

  .table-box a {
    text-align: center;
    width: 100%;
    height: 100%;
    display: block;
    border: 1px dashed #970c0c;
    padding: 15px;
    border-radius: 10px;
  }

  .table-box a .img-table {
    width:100px;
  }

    .table-box a .table-name {
      margin-top: 15px;
      font-size: 20px;
      font-weight: bold;
      margin-top: 15px;
      color: #b48108;
      text-shadow: 4px 4px 15px rgb(188, 181, 181);
    }

.skin-blue .main-header .navbar {
  background-color: #2da6eb!important;
}

.skin-blue .main-header .logo {
  background-color: #33a0df!important;
  color: #fff;
  border-bottom: 0 solid transparent;
}

.notifications-menu a{
  white-space:normal!important;
  font-size:12px;
  font-weight:normal;
}

.notifications-menu .dropdown-menu {
  background: #fff;
  border: 1px solid rgba(100, 100, 100, .4);
  border-radius: 0 0 2px 2px;
  box-shadow: 0 3px 8px rgba(0, 0, 0, .25);
  color: #1d2129;
  overflow: visible;
  position: absolute;
  width: 430px!important;
  right: 0;
  left: auto;
}

.navbar-nav .notifications-menu .dropdown-menu .footer a {
  color: #365899 !important;
  font-weight: 600;
}
.navbar-nav .notifications-menu .dropdown-menu .footer:hover a {
  color: #365899 !important;
  font-weight: 600;
  text-decoration: underline !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li.active {
  background-color: #edf2fa!important;
  border-bottom: 1px solid #dddfe2;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li .menu > li:hover a {
  background-color:#e5eaf2 !important;
}

.navbar-nav > .notifications-menu > .dropdown-menu > li.header {
  font-size: 12px!important;
  font-weight: 600!important;
}
