<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header text-center" style="margin-bottom: 25px;">
      <h1 style="font-size: 2em;font-weight:bold">CHÀO MỪNG BẠN ĐẾN VỚI GIAO DIỆN QUẢN LÝ QUÁN CÀ PHÊ</h1>
      <small>Vui lòng chọn chức năng để bắt đầu làm việc</small>
    </section>
    <!-- Main content -->
    <section class="content max">

      <div class="row">
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <router-link to="/table-list"
                       active-class="active"
                       exact>
            <div class="small-box bg-orange">
              <div class="inner">
                <h3>{{countTable}}</h3>
                <p>Quản lý bán hàng</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-keypad-outline"></i>
              </div>
              <a class="small-box-footer" href="#">Chi tiết &nbsp; <i class="fa fa-arrow-circle-right"></i></a>

            </div>
          </router-link>

        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <router-link to="/product"
                       active-class="active"
                       exact>
            <div class="small-box bg-aqua">
              <div class="inner">
                <h3>{{countFood}}</h3>
                <p>Quản lý hàng hóa</p>
              </div>
              <div class="icon">
                <i class="ion ion-bag"></i>
              </div>
              <a href="productlist.html" class="small-box-footer">Xem danh sách <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </router-link>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <router-link to="/account"
                       active-class="active"
                       exact>
            <div class="small-box bg-green">
              <div class="inner">
                <h3>{{countAccount}}</h3>
                <p>Quản lý nhân sự</p>
              </div>
              <div class="icon">
                <i class="ion ion-person-add"></i>
              </div>
              <a href="articlelist.html" class="small-box-footer">Xem danh sách <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </router-link>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <router-link to="/bill-manager"
                       active-class="active"
                       exact>
            <div class="small-box bg-yellow">
              <div class="inner">
                <h3>{{countBill}}</h3>
                <p>Quản lý hóa đơn</p>
              </div>
              <div class="icon">
                <i class="ion ion-ios-paper"></i>
              </div>
              <a href="accountlist.html" class="small-box-footer">Xem danh sách <i class="fa fa-arrow-circle-right"></i></a>
            </div>
          </router-link>
        </div>
        <!-- ./col -->
        <div class="col-lg-3 col-xs-6">
          <!-- small box -->
          <div class="small-box bg-red"  data-toggle="modal"  data-target="#modal-link-report" style="cursor:pointer">
            <div class="inner">
              <h3>3</h3>
              <p>Thống kê</p>
            </div>
            <div class="icon">
              <i class="ion ion-stats-bars"></i>
            </div>
            <a href="#" class="small-box-footer">Xem danh sách <i class="fa fa-arrow-circle-right"></i></a>
          </div>
        </div>
        <!-- ./col -->
      </div>
      <!-- /.row -->
    </section>
    <!-- /.content -->
    <!-- Modal add table food -->
    <div id="modal-link-report" class="modal fade" style="display: none;">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
            <h4 class="modal-title">Danh sách thống kê</h4>
          </div>
            <div class="modal-body modal-report">
              <div class="row">
                <div class="col-md-4">

                  <div class="box box2" @click="RediactReport()">
                    <img src="/wwwroot/dist/img/report.png" />
                    <p>Thống kê doanh thu</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box box2"  @click="RediactImport()">
                    <img src="/wwwroot/dist/img/app.png"/>
                    <p>Thống kê nhập hàng</p>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="box box2"  @click="RediactHoaDon()">
                    <img src="/wwwroot/dist/img/sea.png"/>
                    <p>Thống kê hóa đơn</p>
                  </div>
                </div>
              </div>
            </div>

        </div>
        <!-- /.modal-content -->
      </div><!-- /.modal-dialog -->
    </div>
    <!-- Modal -->
  </div>
</template>
<script>
  import axios from "axios";
  export default {
    data() {
      return {
        countTable:0,
        countFood: 0,
        countAccount: 0,
        countBill:0
      }
    },
    methods: {
      GetCountTable: function () {
        axios.get("/TableFood/GetCountTable").then(res => {
          this.countTable = res.data.countTable;
        })
      },
      GetCountFood: function () {
        axios.get("/Food/GetCountFood").then(res => {
          this.countFood = res.data;
        })
      },
      GetCountAccount: function () {
        axios.get("/Account/GetCountAcount").then(res => {
          this.countAccount = res.data;
        })
      },
      GetCountBill: function () {
        axios.get("/Bill/GetCountBill").then(res => {
          this.countBill = res.data;
        })
      },
      RediactReport: function () {
        $("#modal-link-report").modal("hide");
       this.$router.push('/report-revenue');
      },
      RediactImport: function () {
        $("#modal-link-report").modal("hide");
        this.$router.push('/import-history');
      },
      RediactHoaDon: function () {
        $("#modal-link-report").modal("hide");
        this.$router.push('/bill-manager');
      }
    },
    created() {
      FadeLoadingBar();
      this.GetCountTable();
      this.GetCountFood();
      this.GetCountAccount();
      this.GetCountBill();
    }
  }
</script>
