
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Đăng nhập vào hệ thống</title>

    @* _CSS *@
    @RenderPage("/Views/Shared/_CSS.cshtml")
</head>
<body class="hold-transition login-page">
  <div id="particles-js"></div>
  <div id="login">
    <login></login>
  </div>




  @* Loading  *@
  <div id="main-loading">
    <div class="lds-roller"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
  </div>
  <!-- ./wrapper -->
  @* JS *@
  @RenderPage("/Views/Shared/_Scripts.cshtml")

  @* QR code *@
  <script src="~/wwwroot/plugins/read-qr-code/filereader.js"></script>
  <script src="~/wwwroot/plugins/read-qr-code/qrcodelib.js"></script>
  <script src="~/wwwroot/plugins/read-qr-code/webcodecamjs.js"></script>
  <!-- Particles -->
  <script src="/wwwroot/plugins/Particles/js/particles.min.js"></script>
  <script src="/wwwroot/plugins/Particles/js/index.js"></script>

  <script src="~/Assets/vue/login.js"></script>

</body>
</html>

