<template>
  <div>
    <div class="box-header with-border">
      <button
        type="button"
        class="btn btn-info pull-right"
        data-toggle="modal"
        data-target="#modal-add-table"
      >
        <i class="fa fa-plus-square"></i>
        thêm bàn mới
      </button>
      <button type="button" class="btn btn-danger  pull-right m-r-5" @click="GetAllTableEmpty()">Bàn trống</button>
      <button type="button" class="btn btn-success pull-right m-r-5" @click="GetAllTableNotEmpty()">Đang sử dụng</button>
      <button type="button" class="btn btn-warning pull-right m-r-5" @click="LoadAllTable()">Tất cả</button>
    </div>
    <div class="box-body" style>
      <div class="row">
        <div class="col-xs-3" v-for="(item,index) in listTables" v-bind:key="index">
          <!-- small box -->
          <a
            href="javascript:void(0)"
            @click="ShowDetalTable(item)"
            class="small-box bg-table thisTable"
          >
            <div class="inner item-table">
              <p>{{item.TableName}}</p>
              <p>
                Trạng thái:
                <span :class="item.Status ==true?'label label-success':'label label-danger'">{{item.Status ==true?'Đã có khách':'Bàn trống'}}</span>
              
              </p>
              <p>
                Tổng tiền:
                <span class="total">{{ConverPrice(item.Total,"₫")}}</span>
              </p>
            </div>
            <div class="icon">
              <i class="ion ion-ios-paper"></i>
            </div>
            <span class="small-box-footer">
              {{item.Status ==true?'Xem thông tin':'Đặt bàn'}}
              <i class="fa fa-plus-square"></i>
            </span>
          </a>
        </div>
      </div>
    </div>

    <!-- Box add table -->
     <!-- Modal add table food -->
          <div id="modal-add-table" class="modal fade" style="display: none;">
            <div class="modal-dialog modal-sm">
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                  <h4 class="modal-title">Thêm bàn mới</h4>
                </div>
                <form id="formInput" novalidate="novalidate">
                  <div class="modal-body">
                    <div class="box-body">
                      <div class="row">
                        <div class="col-md-12">
                          <div class="form-group">
                            <label>Tên bàn: </label>
                            <input v-model="tableNameAdd" name="txtName" class="form-control" type="text" autocomplete="off">
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-success" @click="AddTable()">Thêm</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                  </div>
                </form>
              </div>
              <!-- /.modal-content -->
            </div><!-- /.modal-dialog -->
          </div>
          <!-- Modal -->
  </div>
</template>
<script>
import axios from "axios";
import Select2 from "v-select2-component";
import EventBus from "../EventBus";
export default {
  data() {
    return {
      listTables: {},
      tableNameAdd:""
    };
  },
  methods: {
    LoadAllTable: function() {
      let seft = this;
        ShowLoading();
      axios.get("/TableFood/getAllTable/").then(res => {
        seft.listTables = res.data;

        HideLoading();
      });
    }
    ,
    GetAllTableEmpty: function() {
    
      let seft = this;
        ShowLoading();
      axios.get("/TableFood/getAllTableEmpty").then(res => {
          seft.listTables=res.data;
          HideLoading();
      });
    },
    GetAllTableNotEmpty: function() {
     
      let seft = this;
       ShowLoading();
      axios.get("/TableFood/getAllTableNotEmpty").then(res => {
        seft.listTables=res.data;
          HideLoading();
      });
    },
    ShowDetalTable: function(item) {
      $("#modal-detail-table").modal("show");

      axios.get("/TableFood/getTableByID/" + item.TableID).then(res => {
        EventBus.$emit("dataBindTable", res.data);
      });
    },
    AddTable:function(){
      if(this.tableNameAdd ==""){
          $.confirm({
              icon: "fa fa-frown-o",
              title: "Cảnh báo",
              theme: "modern",
              closeIcon: true,
              content: "Vui lòng nhập tên bàn!",
              animation: "scale",
              type: "orange",
              buttons: {
                Đóng: {
                  text: "Okay",
                  btnClass: "btn-dark"
                }
              }
            });
            return;
      }
      axios.get("/insert-table/"+this.tableNameAdd).then(res=>{
          typeof(res.data);
          if(res.data!=null){
            $.confirm({
              icon: "fa fa-check",
              title: "Chúc mừng",
              theme: "modern",
              closeIcon: true,
              content: "Bạn đã thêm bàn thành công!",
              animation: "scale",
              type: "green",
              buttons: {
                Đóng: {
                  text: "Okay",
                  btnClass: "btn-dark"
                }
              }
            });
            EventBus.$emit("isLoadListTable", { isLoadTable: true });
          }
      });
    },

    ConverPrice: function(price, type) {
      if (price === null || price === 0) {
        return "0" + type;
      }
      price = price.toString();
      var n = price
        .split("")
        .reverse()
        .join("");
      var n2 = n.replace(/\d\d\d(?!$)/g, "$&.");
      return (
        n2
          .split("")
          .reverse()
          .join("") + type
      );
    }

  },
  created() {
    this.LoadAllTable();

    let seft = this;
    EventBus.$on("isLoadListTable", item => {
      if (item.isLoadTable == true) {
        seft.LoadAllTable();
      }
    });
  }
};
</script>
