<template>
  <div class="box box-info">
    <div class="box-header with-border">
      <h3 class="box-title">Danh mục tài khoản</h3>
      <button type="button" class="btn btn-info btn-flat pull-right" @click="OpenModalAdd()">
        <i class="fa fa-plus-square"></i>
        thêm mới
      </button>
    </div>
    <div class="box-body" style="">

      <div class="boxclick" :class="{active:item.AccountMainID ==idAccountMainActive }" v-for="(item,index) in listAccountMain">
        <span @click="LoadAccountByID(item)" class="box-click-child">{{item.Title}}</span>
        <div class="input-btn-control">
          <button type="button" class="btn btn-default pull-right" @click="OpenModalEdit(item)">
            <i class="fa fa-edit"></i>
          </button>
          <button type="button" class="btn btn-default pull-right" @click="RemoveAccountMain(item)"><i class="fa fa-trash"></i></button>
        </div>
      </div>
    </div>

    <!-- Modal cha -->
    <div class="modal fade" id="modal-edit-main" style="display: none;">
      <div class="modal-dialog modal-sm">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Thêm / Cập nhật loại tài khoản</h4>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-md-12">

                <div class="form-group none-border-bottom">
                  <label>Tên loại tài khoản: </label>
                  <input class="form-control" type="text" autocomplete="off" v-model="titleAccountMain">
                </div>
              </div>
              <div class="col-md-12">

                <div class="form-group none-border-bottom">
                  <label>Vị trí: </label>
                  <input class="form-control" type="text" autocomplete="off" v-model="position">
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-success" @click="AddOrUpdate()" v-if="idAccountMain==0">Thêm mới</button>
            <button type="button" class="btn btn-warning" @click="AddOrUpdate()" v-else>Cập nhật</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>
</template>
<script>
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    data() {
      return {
        listAccountMain: [],
        titleAccountMain: "",
        position: "",
        idAccountMain: 0,
        idAccountMainActive:0
      }
    },
    methods: {
      GetAllAccountMains: function () {
        let seft = this;
        axios.get("/AccountMain/GetAllAccountMains").then(res => {
          seft.listAccountMain = res.data;
        });
      },
      AddOrUpdate: function () {
        if (this.titleAccountMain == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập tên loại tài khoản", "orange");
          return;
        }
        if (!this.IsInt(this.position)) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập vị trí là số và >= 0", "orange");
          return;
        }
        if (this.idAccountMain == 0) {
          this.AddAccountMain();
        }
        else {
          this.UpdateAccountMain();
        }
      },
      AddAccountMain: function () {

        let seft = this;
        axios.post("/insert-account-main", { title: this.titleAccountMain, position: this.position }).then(res => {
          if (res.data.status = 1) {
            AlertBasic("fa fa-check-o", "Success", res.data.message, "green");
            seft.titleAccountMain = "";
            seft.position = "";
            seft.GetAllAccountMains();
            $("#modal-edit-main").modal("hide");

          }
          else {
            AlertBasic("fa fa-frown-o", "Error", res.data.message, "orange");
            return;
          }
        });
      },
      UpdateAccountMain: function () {

        let seft = this;
        axios.post("/update-account-main", { accountMainID: this.idAccountMain, title: this.titleAccountMain, position: this.position }).then(res => {
          if (res.data.status = 1) {
            AlertBasic("fa fa-check-o", "Success", res.data.message, "green");
            seft.GetAllAccountMains();
            $("#modal-edit-main").modal("hide");

          }
          else {
            AlertBasic("fa fa-frown-o", "Error", res.data.message, "orange");
            return;
          }
        });
      },
      RemoveAccountMain: function (item) {

        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa loại tài khoản",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có chắc chắn muốn xóa loại tài khoản này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios.post("/remove-account-main", { accountMainID: item.AccountMainID }).then(res => {
                  if (res.data.status == 1) {
                    AlertBasic("fa fa-check", "Chúc mừng", res.data.message, "green");

                    seft.GetAllAccountMains();
                  }
                  else {
                    AlertBasic("fa fa-frown-o", "Xin lỗi", res.data.message, "red");
                  }
                });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });

      },
      OpenModalEdit: function (item) {
        this.titleAccountMain = item.Title;
        this.position = item.Position;
        this.idAccountMain = item.AccountMainID;

        $("#modal-edit-main").modal("show");
      },
      OpenModalAdd: function () {
        this.titleAccountMain = "";
        this.position = "";
        this.idAccountMain = 0;

        $("#modal-edit-main").modal("show");
      },
      IsInt: function (num) {
        if (parseInt(num) == num) {
          return true;
        }
        return false;
      },
      LoadAccountByID: function (item) {
        ShowLoadingBar();
        this.idAccountMainActive = item.AccountMainID;
        EventBus.$emit("loadAccountByID", item);
      }
    },
    created() {
      this.GetAllAccountMains();
    }

  }
</script>
