<template>
  <div id="test">
    <div class="col-md-6">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Danh mục tài khoản</h3>
        </div>
        <div class="box-body" style="">
          <div class="col-xs-6">
            <!-- small box -->
            <div class="small-box bg-green"  @click="OpenModalAdd()" style="cursor:pointer">
              <div class="inner">
                <h3>{{countItem}}<sup style="font-size: 20px">+</sup></h3>

                <p>Thêm tài khoản</p>
              </div>
              <div class="icon">
                <i class="ion ion-android-person-add"></i>
              </div>
              <a href="javascript:void(0)" class="small-box-footer">
                Thêm tài khoản <i class="fa fa-arrow-circle-right"></i>
              </a>
            </div>
          </div>
          <div class="col-xs-6">
            <!-- small box -->
            <role-component></role-component>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="box box-info">
        <div class="box-header with-border">
          <h3 class="box-title">Danh sách tài khoản theo quyền hạn</h3>
        </div>

        <!-- /.box-header -->
        <div class="box-body">
          <div class="row">
            <div class="col-sm-4">
              <div class="form-group none-border-bottom">

                <Select2 v-model="accountMainID"
                         :options="listAccountMain"
                         @change="SelectAccoutMainSearch()"
                         style="width:100%" />
              </div>
            </div>
            <div class="col-sm-6">
              <div class="input-group input-group">
                <input type="text" class="form-control" v-model="keyword" placeholder="Tìm kiếm theo tên bàn">
                <span class="input-group-btn">
                  <button type="button" class="btn btn-info btn-flat" @click="SearchTable(idFoodType,keyword)">
                    <i class="fa fa-search"></i>
                  </button>
                </span>
              </div>
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-info btn-flat pull-right" @click="ClearSearch()">
                <i class="fa fa-close"></i>
                Hủy bộ lọc
              </button>
            </div>
          </div>
          <table id="list-product-category" class="table table-bordered table-striped">
            <thead>
              <tr>
                <th>STT</th>
                <th>Username</th>
                <th>Họ và tên</th>
                <th>Số điện thoại</th>
                <th v-if="false">Email</th>
                <th>Địa chỉ</th>
                <th>Quyền</th>
                <th>Trạng thái</th>
                <th class="text-right">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr v-for="(item,index) in listAccount">
                <td>{{index+1+skip}}</td>
                <td>
                  {{item.Username}}
                </td>
                <td>
                  {{item.FullName}}
                </td>
                <td>
                  {{item.Mobi}}
                </td>
                <td v-if="false">
                  {{item.Email}}
                </td>
                <td>
                  {{item.Address}}
                </td>
                <td>
                  {{item.AccountMainTitle}}
                </td>
                <td>
                  <span class="badge" v-bind:class="{bggreen:item.Status,bgred:!item.Status}">{{item.Status?"Bình thường":"Đang tạm khóa"}}</span>
                </td>

                <td class="text-right">
                  <button class="btn btn-info" @click="OpenModalView(item)">
                    <i class="fa fa-eye"></i>
                  </button>
                  <button class="btn btn-warning" @click="OpenModalEdit(item)">
                    <i class="fa fa-pencil-square-o"></i>
                  </button>
                  <button class="btn btn-danger" @click="RemoveAccount(item)">
                    <i class="fa fa-trash-o"></i>
                  </button>
                </td>
              </tr>
            </tbody>

          </table>
          <div class="text-right">
            <Paginate v-model="page"
                      :page-count="totalPage"
                      :prev-text="'Prev'"
                      :next-text="'Next'"
                      :page-range="3"
                      :margin-pages="2"
                      :container-class="'pagination'"
                      :page-class="'page-item'"
                      :prev-class="'page-item'"
                      :next-class="'page-item'"
                      :page-link-class="'page-link'"
                      :prev-link-class="'page-link'"
                      :next-link-class="'page-link'"
                      :click-handler="changePage">
            </Paginate>
          </div>
        </div>
        <!-- /.box-body -->
        <!-- Modal thêm tài khoản con -->
        <div class="modal fade" id="modal-edit-account" style="display: none;">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thêm / Cập nhật danh mục tài khoản</h4>
              </div>
              <div class="modal-body">

                <div class="box-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group none-border-bottom">
                        <label>Chọn loại tài khoản: </label>
                        <Select2 v-model="idAccountMain"
                                 :options="listAccountMain" />
                      </div>

                      <div class="form-group none-border-bottom">
                        <label>Tên đăng nhập: </label>
                        <input class="form-control" type="text" autocomplete="off" v-model="username" v-if="usernameUpdate==''">
                        <input class="form-control" type="text" autocomplete="off" v-model="usernameUpdate" v-else disabled="disabled">
                      </div>
                      <div class="form-group none-border-bottom">
                        <label>Mật khẩu: </label>
                        <input class="form-control" type="password" autocomplete="off" v-model="password">
                        <small v-if="usernameUpdate!=''"><b class="text-danger">* Để trống nếu không thay đổi mật khẩu</b> </small>
                      </div>
                      <div class="form-group none-border-bottom">
                        <label>Trạng thái: </label>
                        <br />
                        <label class="radio-inline">
                          <input type="radio"
                                 value="true"
                                 v-model="status">
                          Kích hoạt
                        </label>
                        <label class="radio-inline">
                          <input type="radio"
                                 value="false"
                                 v-model="status">
                          Tạm khóa
                        </label>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group none-border-bottom">
                        <label>Họ và tên: </label>
                        <input type="text" class="form-control" v-model="fullName">
                      </div>

                      <div class="form-group none-border-bottom">
                        <label>Địa chỉ: </label>
                        <input type="text" class="form-control" v-model="address">
                      </div>

                      <div class="form-group none-border-bottom">
                        <label>Số điện thoại: </label>
                        <input type="text" class="form-control" v-model="mobi">
                      </div>
                      <div class="form-group none-border-bottom">
                        <label>Email: </label>
                        <input type="text" class="form-control" v-model="email">
                      </div>


                    </div>
                  </div>
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" @click="AddAccount()" v-if="usernameUpdate==''">Thêm mới</button>
                <button type="button" class="btn btn-warning" @click="EditAccount()" v-else>Cập nhật</button>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>
        <div class="modal fade" id="modal-view-account" style="display: none;">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">Thông tin chi tiết tài khoản</h4>
              </div>
              <div class="modal-body">
                <div class="box-body">
                  <div class="row">
                    <div class="col-md-12">
                      <div class="box box-widget widget-user">
                        <div class="box-body box-profile">
                          <img class="profile-user-img img-responsive img-circle" src="/wwwroot/dist/img/user-detail.png" alt="User profile picture">

                          <h3 class="profile-username text-center">{{fullName}}</h3>

                          <p class="text-muted text-center">{{AccountMainTitle}}</p>

                          <ul class="list-group list-group-unbordered">

                            <li class="list-group-item">
                              <b>Số điện thoại</b> <a class="pull-right">{{mobi}}</a>
                            </li>
                            <li class="list-group-item">
                              <b>Email</b> <a class="pull-right">{{email}}</a>
                            </li>
                            <li class="list-group-item">
                              <b>Địa chỉ</b> <a class="pull-right">{{address}}</a>
                            </li>
                            <li class="list-group-item" style="line-height: 100px;">
                              <b>QR Code</b>
                              <div id="qrcode" class="pull-right" style="width:100px; height:100px; margin-top:15px;"></div>
                              <div class="clearfix"></div>
                            </li>
                          </ul>

                          <button class="btn btn-primary btn-block" @click="PrintCardEmploy(username)"><i class="fa fa-print"></i>&nbsp;<b>In thẻ nhân viên</b></button>
                        </div>

                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- /.modal-content -->
          </div>
          <!-- /.modal-dialog -->
        </div>

      </div>
    </div>
  </div>
</template>
<script>
  import Select2 from "v-select2-component";
  import Paginate from 'vuejs-paginate'
  import EventBus from "../EventBus";
  import axios from "axios";
  import RoleComponent from "./RoleComponent.vue"
  export default {
    components: {
      Select2,
      Paginate,
      RoleComponent
    },
    data() {
      return {
        listAccount: [],
        listAccountMain: [{
          id: 0,
          text: "Tất cả loại tài khoản"
        }],
        username: "",
        usernameUpdate: "",
        password: "",
        fullName: "",
        address: "",
        mobi: "",
        email: "",
        status: true,
        AccountMainTitle: "",
        countItem: 0,
        accountMainID: 0, //để seach
        idAccountMain: 0, //Để thêm và sửa
        keyword: "",
        page: 1,
        totalPage: 0,
        skip: 0
      }
    },
    methods: {
      GetAllAccountMains: function () {
        let seft = this;
        axios.get("/AccountMain/GetAllAccountMains").then(res => {
          let data = res.data;


          data.map(item => {
            let model = [];
            model["id"] = item.AccountMainID;
            model["text"] = item.Title;
            this.listAccountMain.push(model);
          });
        });
      },
      SearchAccount: function (accountMainID, keyword, page = 1) {
        let seft = this;
        axios.post("/search-account", {
          accountMainID: accountMainID,
          keyword: keyword,
          page: page
        }).then(res => {
          seft.skip = res.data.skip;
          seft.totalPage = res.data.totalPage;
          seft.listAccount = res.data.result;
          seft.countItem = res.data.countItem;
          HideLoadingBar();
        })
      },
      changePage: function (page) {
        this.SearchAccount(this.accountMainID, this.keyword, page);
      },
      SelectAccoutMainSearch: function () {
        this.SearchAccount(this.accountMainID, this.keyword, this.page);
      },
      ClearSearch: function () {
        this.accountMainID = 0;
        this.keyword = "";
        this.SearchAccount(0, "", 1);
      },
      OpenModalAdd: function () {
        this.ClearFormAdd();
        $("#modal-edit-account").modal("show");
      },
      OpenModalEdit: function (item) {
        this.idAccountMain = item.AccountMainID;
        this.usernameUpdate = item.Username;
        this.fullName = item.FullName;
        this.address = item.Address;
        this.mobi = item.Mobi;
        this.email = item.Email;
        this.status = item.Status;
        $("#modal-edit-account").modal("show");
      },
      OpenModalView: function (item) {
        this.idAccountMain = item.AccountMainID;
        this.username = item.Username;
        this.fullName = item.FullName;
        this.address = item.Address;
        this.mobi = item.Mobi;
        this.email = item.Email;
        this.status = item.Status;
        this.AccountMainTitle = item.AccountMainTitle;
        this.GenQrCode(item.QRCodeHass);

        $("#modal-view-account").modal("show");
      },
      AddAccount: function () {
        if (this.idAccountMain == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn loại tài khoản", "orange");
          return;
        }
        if (this.username == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập username", "orange");
          return;
        }

        if (this.password == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập password", "orange");
          return;
        }

        if (this.fullName == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập họ và tên", "orange");
          return;
        }
        if (this.mobi == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập số điện thoại", "orange");
          return;
        }
        let seft = this;
        let data = { username: this.username, password: this.password, accountMainID: this.idAccountMain, fullName: this.fullName, address: this.address, mobi: this.mobi, email: this.email, status: this.status }
        axios.post("/insert-account", data).then(res => {
          if (res.data.status == 1) {

            seft.keyword = seft.fullName;
            seft.SearchAccount(seft.accountMainID, seft.keyword, 1);
            seft.ClearFormAdd();

            AlertBasic("fa fa-check", "Success", res.data.message, "green");
            return;
          }
          else {
            AlertBasic("fa fa-frown-o", "Error", res.data.message, "red");
            return;
          }
        });
      },
      EditAccount: function () {
        if (this.idAccountMain == 0) {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng chọn loại tài khoản", "orange");
          return;
        }


        if (this.usernameUpdate == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập username", "orange");
          return;
        }

        if (this.fullName == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập họ và tên", "orange");
          return;
        }
        if (this.mobi == "") {
          AlertBasic("fa fa-frown-o", "Warning", "Vui lòng nhập số điện thoại", "orange");
          return;
        }

        let seft = this;
        let data = { username: this.usernameUpdate, password: this.password, accountMainID: this.idAccountMain, fullName: this.fullName, address: this.address, mobi: this.mobi, email: this.email, status: this.status }
        axios.post("/update-account", data).then(res => {
          if (res.data.status == 1) {

            seft.keyword = seft.fullName;
            seft.SearchAccount(seft.accountMainID, seft.fullName, 1);

            seft.ClearFormAdd();
            seft.HideModalEdit();
            AlertBasic("fa fa-check", "Success", res.data.message, "green");
            return;
          }
          else {
            AlertBasic("fa fa-frown-o", "Error", res.data.message, "red");
            return;
          }
        });
      },
      RemoveAccount: function (item) {

        let seft = this;
        $.confirm({
          icon: "fa fa-frown-o",
          title: "Xóa tài khoản",
          theme: "modern",
          closeIcon: true,
          animation: "scale",
          type: "red",
          content: "Bạn có chắc chắn muốn xóa tài khoản này không?",
          buttons: {
            Xóa: {
              btnClass: "btn-red",
              action: function () {
                axios.post("/remove-account", { username: item.Username }).then(res => {
                  if (res.data.status == 1) {
                    AlertBasic("fa fa-check", "Chúc mừng", res.data.message, "green");

                    seft.SearchAccount(0, "", 1);
                  }
                  else {
                    AlertBasic("fa fa-frown-o", "Xin lỗi", res.data.message, "red");
                  }
                });
              }
            },
            Đóng: {
              btnClass: "btn-dark"
            }
          }
        });

      },
      HideModalEdit: function () {
        $("#modal-edit-account").modal("hide");
      },
      ClearFormAdd: function () {
        this.idAccountMain = 0;
        this.username = "";
        this.usernameUpdate = "";
        this.password = "";
        this.fullName = "";
        this.address = "";
        this.mobi = "";
        this.email = "";
        this.status = true;
      },
      GenQrCode: function (key) {
        $("#qrcode").html("");
        var qrcode = new QRCode(document.getElementById("qrcode"), {
          width: 100,
          height: 100
        });

        qrcode.makeCode(key);
      },
      PrintCardEmploy: function (username) {
        window.open("/print-card/" + username, '_blank');
      },
    },
    created() {
      this.GetAllAccountMains();

      EventBus.$on("loadAccountByID", res => {
        this.SearchAccount(res.AccountMainID, "", 1);
      });

      this.SearchAccount(this.accountMainID, this.keyword, this.page);
    },
    updated() {
    },
    mounted() {

    },
    watch: {
      keyword: function (newVal, oldVal) {
        this.SearchAccount(this.accountMainID, newVal, this.page)
      },
    }
  }

</script>
<style>

</style>
