<template>
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
      <h1>
        Danh sách danh mục tài khoản
      </h1>
      <ol class="breadcrumb">
        <li><a href="index.html"><i class="fa fa-dashboard"></i> Trang chủ</a></li>
        <li class="active">Quản lý tài khoản</li>
      </ol>
    </section>
    <!-- Main content -->
    <section class="content">
      <div class="row">
        <div class="col-md-12">

            <!-- form start -->
            <div role="form">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <account-main-component></account-main-component>
                  </div>

                  <account-list-component></account-list-component>

                </div>
              </div>
            </div>

        </div>
      </div>
    </section>
    <!-- /.content -->
  </div>
</template>
<script>
  import AccountMainComponent from './AccountMainComponent.vue'
  import AccountListComponent from './AccountListComponent.vue'
  export default {
    components: {
      AccountMainComponent, AccountListComponent
    },
    created() {
      ShowLoadingBar();
    }
  }
</script>
