<template>
  <div>
    <div class="small-box bg-yellow" @click="OpenModalRole()" style="cursor:pointer;">
      <div class="inner">
        <h3>+<sup style="font-size: 20px"></sup></h3>

        <p>Phân quyền theo nhóm</p>
      </div>
      <div class="icon">
        <i class="ion ion-stats-bars"></i>
      </div>
      <a href="javascript:void(0)" class="small-box-footer" >
        Xem chi tiết <i class="fa fa-arrow-circle-right"></i>
      </a>
    </div>
    <div class="modal fade" id="modal-role" style="display: none;">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            <h4 class="modal-title">Phân quyền theo nhóm tài khoản</h4>
          </div>
          <div class="modal-body">
              <div class="box-body">
                <div class="row">
                  <div class="col-md-6">
                    <div :class="{boxclick:true, active:item.AccountMainID ==idAccountMainRole }" v-for="item in dataAccountMain" @click="SelectAccountMain(item.AccountMainID)">
                      <span class="box-click-child">{{item.Title}}</span>
                    </div>
                  </div>
                  <div class="col-md-6">
                    <label v-for="(item,index) in listRole" v-bind:key="index" style="display:block;margin-bottom:15px">
                      <input type="checkbox"
                             :value="item"
                             v-model="listCheck">&nbsp;&nbsp;
                      {{item.Title}}
                    </label>
                  </div>
                </div>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            <button type="button" class="btn btn-warning" @click="SaveRole()">Save</button>
          </div>
        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
  </div>

</template>
<script>
  import EventBus from "../EventBus";
  import axios from "axios";
  export default {
    data() {
      return {

        dataAccountMain: [],
        listRole: [],
        idAccountMainRole: 0,
        listCheck: []
      }
    },
    methods: {
      GetAllAccountMains: function () {
        let seft = this;
        axios.get("/AccountMain/GetAllAccountMains").then(res => {
          let data = res.data;
          seft.dataAccountMain = res.data;
          $("#modal-role").modal("show");
          HideLoadingBar();
        });
      },
      GetRoleByAccountID: function (id) {

        let seft = this;
        axios.get("/get-menu-by-id/" + id).then(res => {
          seft.listRole = res.data;

          seft.listCheck = [];
          res.data.map(x => {
            if (x.isCheck) {
              seft.listCheck.push(x);
            }
          });
        });
      },
      OpenModalRole: function () {
        ShowLoadingBar();
        this.GetAllAccountMains();
      },
      SelectAccountMain: function (id) {
        this.idAccountMainRole = id;
        this.GetRoleByAccountID(id);
      },
      SaveRole: function () {
        if (this.idAccountMainRole ==0 && this.listCheck.length ==0) {
          AlertBasic("fa fa-frown", "Error", "Vui lòng chọn loại tài khoản để phân quyền", "orange");
          return;
        }
        axios.post("/Menu/UpdateMenuAccountMain", { accountMainID: this.idAccountMainRole, listMenu: this.listCheck }).then(res => {
          if (res.data == true) {
            AlertBasic("fa fa-check", "Success", "Bạn đã phân quyền group thành công", "green");
            return;
          }
          else {
            AlertBasic("fa fa-frown-o", "Error", "Lỗi hệ thống! Vui lòng thử lại", "red");
            return;
          }
        });
      }
    },
    created() {

    },
    mounted() {
      let seft = this;
      $("#modal-role").on('shown.bs.modal', function () {
        seft.idAccountMainRole = 0;
        seft.listCheck = [];
        seft.listRole = [];
      });
      $("#modal-role").on('hide.bs.modal', function () {
        seft.idAccountMainRole = 0;
        seft.listCheck = [];
        seft.listRole = [];
      })
    }
  }
</script>
