@{
  Layout = null;
}
<!DOCTYPE html>
<html style="height:100%!important">
<head>
  <title> </title>
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  <!-- Bootstrap 3.3.7 -->
  <link rel="icon" href="favicon.ico" type="image/x-icon" />
  @*<link href="/wwwroot/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />*@
  <link href="~/wwwroot/bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
  <!-- Font Awesome -->
  <link rel="stylesheet" href="/wwwroot/bower_components/font-awesome/css/font-awesome.min.css" />
  <!-- Ionicons -->
  <link rel="stylesheet" href="/wwwroot/bower_components/Ionicons/css/ionicons.min.css">
  <!-- Theme style -->
  <link href="/wwwroot/css/AdminLTE.min.css" rel="stylesheet" />
  <!-- AdminLTE Skins. Choose a skin from the css/skins
       folder instead of downloading all of them to reduce the load. -->
  <link href="/wwwroot/css/skins/_all-skins.min.css" rel="stylesheet" />
  <link href="/wwwroot/css/style.css" rel="stylesheet" />
  <!-- Date Picker -->
  <link rel="stylesheet" href="/wwwroot/bower_components/bootstrap-datepicker/dist/css/bootstrap-datepicker.min.css" />
  <!-- Daterange picker -->
  <link rel="stylesheet" href="/wwwroot/bower_components/bootstrap-daterangepicker/daterangepicker.css" />
  <!-- DataTables -->
  <link rel="stylesheet" href="/wwwroot/bower_components/datatables.net-bs/css/dataTables.bootstrap.min.css">
  <!-- bootstrap wysihtml5 - text editor -->
  <link rel="stylesheet" href="/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.min.css" />
  <link href="/wwwroot/plugins/Particles/css/style.css" rel="stylesheet" />
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,300italic,400italic,600italic">

  <link href="/wwwroot/plugins/alertifyjs/css/alertify.css" rel="stylesheet" />
  <link href="/wwwroot/plugins/jquery-confirm-master/css/jquery-confirm.css" rel="stylesheet" />
  <link href="/wwwroot/plugins/processbar/nprogress.css" rel="stylesheet" />
  <link href="/wwwroot/css/loading.css" rel="stylesheet" />
  <!--Tooltip -->
  <link href="~/wwwroot/plugins/tooltipster-master/dist/css/tooltipster.bundle.css" rel="stylesheet" />

  <!-- Select2 -->
  <link rel="stylesheet" href="/wwwroot/bower_components/select2/dist/css/select2.min.css">
</head>
<body class="hold-transition skin-blue sidebar-mini">

  @* Render data vue js *@
  <div id="app"></div>

  <!--Loading-->
  <div id="main-loading-delay" style="display:none">
    <div class="lds-ripple"><div></div><div></div></div>
  </div>

  <!-- jQuery 3 -->
  <script src="/wwwroot/Scripts/pages/jquery-3.3.1.js"></script>
  <!-- jQuery UI 1.11.4 -->
  <script src="/wwwroot/bower_components/jquery-ui/jquery-ui.min.js"></script>
  <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
  <script>
    $.widget.bridge('uibutton', $.ui.button);
  </script>
  @*create Qr code *@
  <script src="/wwwroot/plugins/create-qr-code/qrcode.js"></script>
  <!-- Bootstrap 3.3.7 -->
  <script src="/wwwroot/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <!-- Sparkline -->
  <script src="/wwwroot/bower_components/jquery-sparkline/dist/jquery.sparkline.min.js"></script>
  <!-- daterangepicker -->
  <script src="/wwwroot/bower_components/moment/min/moment.min.js"></script>
  <script src="/wwwroot/bower_components/bootstrap-daterangepicker/daterangepicker.js"></script>
  <!-- datepicker -->
  <script src="/wwwroot/bower_components/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js"></script>
  <!-- Bootstrap WYSIHTML5 -->
  <script src="/wwwroot/plugins/bootstrap-wysihtml5/bootstrap3-wysihtml5.all.min.js"></script>
  <!-- Slimscroll -->
  <script src="/wwwroot/bower_components/jquery-slimscroll/jquery.slimscroll.min.js"></script>
  <!-- FastClick -->

  <script src="/wwwroot/bower_components/fastclick/lib/fastclick.js"></script>
  <!-- Select2 -->
  <script src="/wwwroot/bower_components/select2/dist/js/select2.full.min.js"></script>

  <!-- AdminLTE App -->
  <script src="~/wwwroot/Scripts/adminlte.js"></script>
  <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
  <script src="/wwwroot/Scripts/pages/dashboard.js"></script>

  <script src="/wwwroot/plugins/alertifyjs/alertify.js"></script>
  <script src="/wwwroot/plugins/jquery-confirm-master/js/jquery-confirm.js"></script>
  <!-- mask -->
  <script src="/wwwroot/plugins/mask/jquery.mask.js"></script>
  <!-- DataTables -->
  <script src="/wwwroot/bower_components/datatables.net/js/jquery.dataTables.min.js"></script>
  <script src="/wwwroot/bower_components/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>

  <script src="/wwwroot/plugins/processbar/nprogress.js"></script>
  <!-- jQuery Knob -->
  <script src="/wwwroot/bower_components/jquery-knob/js/jquery.knob.js"></script>
  <!-- Chart Doanh thu -->
  <script src="/wwwroot/plugins/highcharts-sample/DoanhThu/js/highcharts.js"></script>
  <script src="/wwwroot/plugins/highcharts-sample/DoanhThu/js/data.js"></script>
  <script src="/wwwroot/plugins/highcharts-sample/DoanhThu/js/drilldown.js"></script>

  @* Chart Bán chạy *@
    <script src="https://code.highcharts.com/highcharts.js"></script>

  @* Datetime format *@
  <script src="~/wwwroot/plugins/datetime-format/date.format.js"></script>
  @* Tooltip *@
  <script src="~/wwwroot/plugins/tooltipster-master/dist/js/tooltipster.bundle.js"></script>
  @* Util vue js *@
  <script src="~/src/util/Util.js"></script>
  <!--Vue js-->
  <script src="~/Assets/vue/main.js"></script>
</body>
</html>
