@using QuanLyBanHang.Helper
<aside class="main-sidebar">
    <!-- sidebar: style can be found in sidebar.less -->
    <section class="sidebar">
        <!-- Sidebar user panel -->
        <div class="user-panel">

                <div class="pull-left image">
                    <img src="/wwwroot/dist/img/user-login-icon-29.png" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>Nguyễn Văn Quyền</p>
                    <a href="#"><i class="fa fa-circle text-success"></i>Quản lý</a>
                </div>

        </div>

        <!-- sidebar menu: : style can be found in sidebar.less -->
        <ul class="sidebar-menu" data-widget="tree">
            <li class="header">Thanh chức năng</li>
            <li>
                <a href="index.html">
                    <i class="fa fa-dashboard"></i> <span>Trang quản lý</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-th"></i>
                    <span>Quản lý sản phẩm</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="accountlist.html"><i class="fa fa-circle-o"></i> Danh mục sản phẩm</a></li>
                    <li><a href="accountadd.html"><i class="fa fa-circle-o"></i> Danh sách sản phẩm</a></li>
                </ul>
            </li>
            <li>
                <a href="inforcompany.html">
                    <i class="fa fa-table"></i> <span>Quản lý bàn</span>
                </a>
            </li>
            <li>
                <a href="inforcompany.html">
                    <i class="fa fa-user"></i> <span>Quản nhân viên</span>
                </a>
            </li>
            <li>
                <a href="inforcompany.html">
                    <i class="fa fa-edit"></i> <span>Nhập hàng</span>
                </a>
            </li>
            <li>
                <a href="inforcompany.html">
                    <i class="fa fa-files-o"></i> <span>Khuyến mãi</span>
                </a>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pie-chart"></i>
                    <span>Thống kê</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu menu-open">
                    <li id="turnoverStatistic"><a href="/thong-ke-doanh-thu"><i class="fa fa-circle-o"></i> Doanh thu &amp; lợi nhuận</a></li>
                    <li id="importStatistic"><a href="/thong-ke-nhap"><i class="fa fa-circle-o"></i> Thống kê nhập</a></li>
                    <li id="productStatistic"><a href="/thong-ke-san-pham"><i class="fa fa-circle-o"></i> Thống kê sản phẩm</a></li>
                    <li id="tableStatistic"><a href="/thong-ke-theo-ban"><i class="fa fa-circle-o"></i> Thống kê theo bàn</a></li>
                </ul>
            </li>


        </ul>
    </section>
    <!-- /.sidebar -->
</aside>
